[2013-08-12 13:52] cdondrup opened #1 "Make ground_hog compile without libcudaHOG"

[2013-08-12 13:52] cdondrup opened #2 "Overflow warning in upper_body_detector"

[2013-08-12 13:53] cdondrup opened #3 "Clean up config file"

[2013-08-12 13:53] cdondrup opened #4 "tracker should work without groundHOG"

[2013-08-12 13:53] cdondrup opened #5 "change verbose mode in config file to ros debug"

[2013-08-12 13:53] cdondrup opened #6 "Use ground plane in groundHOG"

[2013-08-12 13:54] cdondrup opened #7 "Why is everything delayed by about 1sec?"

[2013-08-12 13:54] cdondrup opened #8 "Create READMEs"

[2013-08-12 17:15] cdondrup opened #9 "ground_hog fails with a failed assertion"
After a few callback calls I get the following error when running ground_hog with the ground_plane enabled:

[code]

The back trace says:

[code]

So I think `#7` with `main.cpp:164` is the crucial one and this already is in a try catch(...) but you can not catch assertion failiurs because there is nothing thrown.

This might be helpful: http://stackoverflow.com/questions/37473/how-can-i-assert-wi

[2013-08-12 17:43] cdondrup commented on #6
Closing #6 via #10
But see #9

[2013-08-12 17:43] #6 closed, assigned to nobody

[2013-08-12 17:47] cdondrup opened #11 "Do not set build mode in cmake file but rely on people using the right build mode"
People are supposed to use the release build type when compiling the stable version using `catkin_make -DCMAKE_BUILD_TYPE=Release`. So we would not need the explicit build type statement in our CMakeLists.txt

[2013-08-12 18:17] cdondrup commented on #1
Closing #1 via #12

[2013-08-12 18:17] #1 closed, assigned to cdondrup

[2013-08-13 09:20] cdondrup commented on #9
Closing #9 via #13
You have to remove everything in the 3rd_party/build directory and run `cmake ..`, `make`, `sudo make install` again for this change to have an effect.

[2013-08-13 09:20] #9 closed, assigned to cdondrup

[2013-08-13 10:29] cdondrup opened #15 "Use sensor_msgs/Image to publish final tracker result instead of using X11 to display it."

[2013-08-13 10:33] cdondrup opened #16 "Expose queue sizes in config file"
This will hopefully help to set up the tracker for fast or slow systems by adapting the queue sizes accordingly.

[2013-08-13 11:15] cdondrup commented on #2
Closing #2 via #14

[2013-08-13 11:15] #2 closed, assigned to cdondrup

[2013-08-13 11:34] cdondrup opened #17 "Change default subscriber topics from /camera to /head_xtion"
to be compatible with robot and simulator

[2013-08-13 13:54] cdondrup commented on #7
Closed by #18

[2013-08-13 13:54] #7 closed, assigned to cdondrup

[2013-08-13 13:54] cdondrup commented on #16
Closed by #18

[2013-08-13 13:54] #16 closed, assigned to cdondrup

[2013-08-13 16:45] cdondrup commented on #15
Closing #15 via #19

[2013-08-13 16:45] #15 closed, assigned to cdondrup

[2013-08-13 16:46] cdondrup opened #20 "Make rendering and publishing of result images optional"
In the hope that this will save computation time.

[2013-08-14 10:38] cdondrup commented on #20
Closing #20 via #21

[2013-08-14 10:38] #20 closed, assigned to cdondrup

[2013-08-14 11:25] cdondrup commented on #5
Closing #5 via #22

[2013-08-14 11:25] #5 closed, assigned to cdondrup

[2013-08-14 14:19] cdondrup opened #23 "Add different detectors to choose from"
There are different versions of the upper body detector which trade speed for accuracy and vice-versa. At the moment we are just using one.
Add others which can be chosen on start-up.

[2013-08-14 15:08] cdondrup commented on #4
Closing #4 via #24

[2013-08-14 15:08] #4 closed, assigned to cdondrup

[2013-08-14 15:08] cdondrup opened #25 "Make use of produced data"
The best tracker doesn't do any good if don't use the data.

[2013-08-14 15:21] cdondrup commented on #8
All packages have readme files now but they need a bit more information.
Will close and open specific topic.

[2013-08-14 15:21] #8 closed, assigned to nobody

[2013-08-14 15:23] cdondrup opened #26 "Documentation"
Document:
- [x] config parameters in config file
- [ ] produced messages/data
- [ ] general workflow of nodes

[2013-08-14 15:23] cdondrup opened #27 "Add copyrights and licences to files"

[2013-08-15 08:49] cdondrup opened #29 "Outsource ground plane estimation?"
I am not particularly happy that the ground plane is produced as a byproduct of the upper body detector. This does not seem very intuitive to understand. I would like to move the estimation to a separate node but I don't know if that creates too much extra computation time. What's your opinion on that @dennismitzel ?

[2013-08-15 09:02] hawesie commented on #29
@kunzel has done some plane estimation work recently and may be able to provide some input.

[2013-08-15 09:09] nilsbore commented on #29
Same goes for @jekekrantz.

[2013-08-15 09:49] dennismitzel commented on #29
I can change it and create a separated module only for GP estimation.

On Thu, Aug 15, 2013 at 10:49 AM, Christian Dondrup <
notifications@github.com> wrote:

[2013-08-15 10:52] marc-hanheide opened #30 "visualisation should be turned on/off at runtime by cheching for ros::Publisher::getNumSubscribers"
so that the expensive processing only happens if there's somebody interested in our data.

[2013-08-15 10:54] marc-hanheide opened #31 "use tf information instead of visual odometry"
This should be more precise _and_ more efficient. Use `head_xtion_rgb_optical_frame` for instance

[2013-08-15 11:30] cdondrup commented on #30
Closed #30 via #32

[2013-08-15 11:30] #30 closed, assigned to cdondrup

[2013-08-15 12:03] johnfolk commented on #29
So Johan has quite a lot of plane extraction tools and can put some code here but we are unsure what you want exactly.  Is the input one frame and the output the normal and a point on the plane or the pixels with the plane or something else?  Also is this assuming only the image or the whole tf can be used?

[2013-08-15 12:25] cdondrup commented on #29
I don't know what we are using at the moment to estimate the ground plane (maybe @dennismitzel can answer that) but since it is supposed to run on the robot it would be good if the whole tf is used.

[2013-08-15 13:03] jekekrantz commented on #29
So if we have the TF it is not really the equation of the plane that is desired but rather the pixels in the image that is to be considered part of the ground plane that is interesting? Is it meant to be used to find the area where the robot could go?

[2013-08-15 13:55] dennismitzel commented on #29
the output of the ground plane estimator right now is only the normal and a point on the plane and I use only one image. I can output the points on the ground plane as well if it is really required for some components?

[2013-08-15 21:14] kunzel commented on #29
Hi, a Master student of us is currently using PCL to segment point cloud data in order to detect table tops etc (http://pointclouds.org/documentation/tutorials/planar_segmentation.php). I was using information about normals to classify voxels in an octomap as supporting surface.

I think in general it would definitely make sense to have a common tool box for the extraction of planes as it seems a

[2013-08-16 07:21] johnfolk commented on #29
I think this is sensible.  Right now Johan has algorithms implemented that find and refine planes without reference to the TF but that can easily be included to for example identify (only) the ground plan.  Our output is a segmentation of the larger planes, along with the parameters of the plane.  Our goal, (and we are pretty much there) is to separate for example notebooks from the desktop they a

[2013-08-16 07:21] johnfolk commented on #29
Sorry did not mean to close

[2013-08-16 08:55] cdondrup opened #34 "Create launch file for ground plane"
The ground plane package is still missing a launch file. Also the launch files in strands_perception_people_launch have to be adapted. In those launch files you also have to specify a different parameter for the special config file the ground plane uses because at the moment all nodes use the config file in upper_body_detector.

[2013-08-16 08:59] cdondrup commented on #29
As you can see the ground plane estimation is now a separate package. I don't know if the functionality is comparable to the stuff @jekekrantz did but this is the one which is currently used for the people detection. Maybe @dennismitzel can give a short overview of what it does and how it works.
It might also be a good idea to move this package into a general perception repository in the long run.

[2013-08-16 20:35] mzillich commented on #29
Hi,

of course we also have plane extraction code. All based on PCL. So I
guess by and large it does not make too much difference.

M

On 08/15/2013 11:14 PM, Lars Kunze wrote:

##

Dr. Michael Zillich
ACIN Institute of Automation and Control
Vienna University of Technology
(DVR-Number 0005886)
Gusshausstr 27-29/E376, 1040 Vienna, Austria
zillich@acin.tuwien.ac.at   http://users.acin.tuwien.ac.at/

[2013-08-19 09:40] cdondrup commented on #34
Closing #34 via #36

[2013-08-19 09:40] #34 closed, assigned to dennismitzel

[2013-08-20 10:27] cdondrup opened #38 "Localisation: get orientation of found person from heading estimation"

[2013-08-22 14:02] cdondrup opened #41 "Visual odometry "breaks" when kinect gets too close to something"
I just observed that the visual odometry only produces nan values once the kinect gets too close to something, e.g. the wall while charging. This does not recover on its own. However, if you restart it in the same position, it seems to work fine until it gets too close to something again.
Needs some kind of recovery behaviour.

[2013-08-22 15:09] cdondrup commented on #41
Could not reproduce this error with a "stand-alone" kinect. Seems to be exclusive to our robot. Very strange.

[2013-08-22 15:24] cdondrup commented on #41
#42 implements a hotfix for this. Seems to work fine now. Odometry resets itself if something goes wrong.

The error does not occur every time even if the robot is in exactly the same position. Maybe @dennismitzel has an idea why that could happen?

[2013-08-23 17:20] cdondrup opened #44 "Odometry not taken into account when calculating trajectories"
I am just in the process of switching from visual odometry to the robot odometry and noticed that the odometry is not taken into account when calculating heading, speed and trajectory of the found pedestrians. So a standing person will appear to be moving when the robot is driving.
At first I thought it would be because I did something wrong but this also happens when relying on the visual odometr

[2013-09-01 19:30] cdondrup commented on #17
Closing #17 via #45

[2013-09-01 19:30] #17 closed, assigned to cdondrup

[2013-10-05 13:57] gestom opened #46 "Too many false positives"
The pedestrian detector often reports people in the scene even if there are none.
Running the PD over the Lincoln dataset gives more than 50% of false positives.

[2013-10-14 22:34] marc-hanheide commented on #46
@dennismitzel, is there anything we can do about this??? @cdondrup, do you know any parameters?

[2013-10-15 08:59] cdondrup commented on #46
@dennismitzel is working on that at the moment. So far, he cleaned up config files and documented them so that we know what the parameters are doing. He will also put together a description of the functionalities and current limitations of the tracker over the next days.
As soon as I had the time to test the new set-up I will create a pull request.

[2013-10-24 10:30] #3 closed, assigned to dennismitzel

[2013-10-24 10:41] cdondrup opened #49 "Produced images cannot be displayed any more."
image_view prints following error message: `[ERROR] [1382610353.731269057]: Unable to convert 'bgr8' image to bgr8: 'Image is wrongly formed: height > step   or  480 > 0'` when trying to stream the upper_body_detector, pedestrian_tracking, and ground_hog image.
Did anyone come across this before?

[2013-10-24 11:15] cdondrup commented on #49
Apparently, image_view is not as forgiving any more if you don't set the step variable in your image. Will fix.
Will also switch to image_transport while doing so.

[2013-10-24 13:19] #49 closed, assigned to cdondrup

[2013-11-11 13:59] marc-hanheide opened #51 "Jenkins reported broken build"
There seems to be a dependency problem once again, now that OpenNI is compiled by "us". It seems to only show up in the massively parallel build of jenkins.
As fas as I understand this, we'd now have to include our OpenNI (in https://github.com/strands-project/scitos_robot/tree/master/openni_wrapper) as a build dependency in all modules that use it. So I think also @RaresAmbrus, @nilsbore, @gestom

[2013-11-11 14:33] RaresAmbrus commented on #51
Strange. The package is openni_wrapper, and the Openni sources are compiled from its CMakeLists file via a Cmake custom command. But on my machine the rest of the repository compiles without adding this dependency to other packages.
(BTW I think the PS1080Console error is from something else).

[2013-11-11 14:35] marc-hanheide commented on #51
But, catkin runs all compilations in parallel. It seems to me that something from strands_perception_people tried to compile with a half-finished openni setup, doesn't it? `PS1080Console` is from OpenNI isn't it?

[2013-11-11 14:42] RaresAmbrus commented on #51
Ah yes yes, you're right, PS1080Console is a file from OpenNI. I'll try to replicate this on my machine and see if I can come up with a solution, but I guess adding openni_wrapper as a dependency could be a way to go.

[2013-11-11 15:09] cdondrup commented on #51
Not related to the strands_perception_people. The openni_wrapper fails to build and the output is just mixed up with the strands_perception_people output.

[2013-11-11 15:12] marc-hanheide commented on #51
weird, that is... I trigger the build again now to see what the problem is

[2013-11-11 15:20] RaresAmbrus commented on #51
In the meantime I've found an issue in the openni_wrapper - it builds two targets, an executable and a library, both of which depend on the compilation of the 3rd party openni sources; I am modifying the CMake file a bit to make sure that both the targets don't try to compile the 3rd party sources at the same time. I'll merge in a bit.

[2013-11-11 15:29] RaresAmbrus commented on #51
I've added a small fix in scitos_robot, @marc-hanheide  can you please check out the latest version and try again? Let's see if there are any other errors.

[2013-11-11 22:25] marc-hanheide commented on #51
jenkins just reported `SUCCESS`, so, we considered this fixed by https://github.com/strands-project/scitos_robot/pull/28

[2013-11-11 22:25] #51 closed, assigned to cdondrup

[2013-11-11 23:30] RaresAmbrus commented on #51
Great!

[2014-01-09 12:14] cdondrup opened #52 "pedestrian localisation should unsubscribe from the people detection topics"
- [x] if no one subscribes to the localisation, unsubscribe from ppl detection topics to reduce computational load.
- [x] check nodes for same issue

[2014-01-09 16:36] marc-hanheide opened #53 "move msgs definitions to new strands_msgs repository"

[2014-01-10 17:54] cdondrup commented on #53
done

[2014-01-10 17:54] #53 closed, assigned to cdondrup

[2014-01-15 17:07] cdondrup commented on #52
I am currently trying to solve this and I am now looking for the best way to do it. Maybe one of you knows a good way to implement such behaviour.
Problem: The pedestrian tracker is very modular now which means that we have 2-3 basic components which work on camera and tf data, 1 intermediate component using camera data and the data from the basic components, another intermediate layer which relie

[2014-01-16 07:09] marc-hanheide commented on #52
I would actually say this sounds exactly how I'd do it... I don't think there's a problem with repeatingly (un) subscribing as long as you don't do it at 100Hz.

[2014-01-16 17:35] cdondrup commented on #52
Implemented it the described way. See pull request #55.
Will close. If someone has a better way of doing it, just reopen the topic.

[2014-01-16 17:35] #52 closed, assigned to cdondrup

[2014-02-11 11:50] lucasb-eyer opened #56 "Create a "heads" module"
Create a stub subscriber/publisher publishing custom results.

[2014-02-11 11:52] lucasb-eyer opened #57 "Make the "heads" a action server."
Using a person-id in a 'start' signal to start computing the head's angle and publish it continuously, until the goal is canceled.

[2014-03-11 11:39] cdondrup opened #58 "Adapt to use openni2 wrapper"
The openni2 wrapper does not publish under the same topic names and not all of the different image types as the original openni wrapper (https://github.com/strands-project/scitos_robot/issues/34). Since I assume that everyone is using scitos_bringup scitos.launch (which includes the new wrapper) I will adjust the people perception to work with the new topics.

[2014-04-02 12:16] cdondrup opened #59 "Add id to localisation messages"

[2014-04-04 08:31] cdondrup commented on #31
this should work now but still needs thorough testing.

[2014-04-04 08:31] #31 closed, assigned to cdondrup

[2014-04-04 08:31] #58 closed, assigned to cdondrup

[2014-04-04 08:31] cdondrup commented on #44
This should fix it now but still needs thorough testing.

[2014-04-04 08:31] #44 closed, assigned to nobody

[2014-04-04 08:32] #41 closed, assigned to cdondrup

[2014-04-08 15:19] cdondrup opened #62 "Publish StampedPose of closes person."
In pedestrian_localisation

[2014-04-14 09:38] #62 closed, assigned to cdondrup

[2014-04-14 09:39] #59 closed, assigned to cdondrup

[2014-04-14 09:41] cdondrup commented on #25
Has been done a long while ago.

[2014-04-14 09:41] #25 closed, assigned to cdondrup

[2014-07-16 10:58] kunzel opened #70 "New logging mechanism of people tracks"
@cdondrup, the new logging mechanism looks really good! Just one question, why did you not use the `TimeSynchronizer` for the `/robot_pose` too? Can this cause a problem when the robot_pose updates are received faster than the synchronized ones? Especially, because the human pose is in /base_link coordinates, right?

btw the projected positions of the people tracker are in the /map frame, right?

[2014-07-16 11:32] kunzel commented on #70
One more thought: as the IDs of the tracker are reused after a restart I would be good if we could use another ID which differentiates between different runs of the tracker. This could be either the starting time of the tracker or a md5 hash. This why we could find the track of a person quite easily.  @cdondrup, what do you think?

[2014-07-16 11:33] cdondrup commented on #70
I would have loved to use the timesynchroniser but the robot_pose is not stamped.

By default everything is in in base_link but if you run the ppl perception with `tf_target_frame:=/map` it will be transformed to map. See: https://github.com/strands-project/strands_perception_people/tree/hydro-devel/strands_perception_people_launch#pedestrian_tracker_robotlaunch
also, you have to run it with `log:

[2014-07-16 14:09] kunzel commented on #70
Oh I see, I didn't know that the target_frame can be configured in that way. Reading the documentation would have helped ;) However, in the long run we want to collect the people track data in the global frame whereas you want to have it local, right? What do you think about having both information in the message? So, poses of people in both the global and the local frame. Because running people p

[2014-07-16 14:33] cdondrup commented on #70
I don't really mind either of the target frames. We could save both: base_link and what ever was set for the target_frame or I can save the tf from base_link to target_frame... I will think about it. Maybe we could also change the default target frame to /map as I think that will be more useful for other people as well?!

The pose is just a position atm but I made it a pose to have the opportunity

[2014-07-16 15:03] kunzel commented on #70
Cool, if we can assume that the pose is reported in map_frame it would be very helpful. Also if you could find a way to add a unique tracker session ID to the poses it would be really great. Then we could search and identify human tracks quite easily. Please let me know if you need any help for this.

In the next days and weeks we will create some data structures and methods for representing and a

[2014-07-18 15:34] kunzel opened #72 "Tracking ID in Logging.msg"
The tracking ID that is used at the top level in the Logging message should also be used for the pedestrian tracking message stored inside the logging message. Otherwise the data cannot be easily associated if several people are tracked.

@cdondrup do you have time to look into it? Or should I make the change and make a pull request?

[2014-07-18 16:00] cdondrup commented on #72
I can do it tomorrow. Of that's early enough. Shouldn't be much of an effort.

[2014-07-18 16:04] kunzel commented on #72
Great, thanks.

[2014-07-21 11:29] cdondrup opened #73 "Assertion error in tracker"
This error:

[code]

aborts the tracker. Will replace with an exception and try to recover to prevent the tracker from failing completely.

Cannot assign it to me (no rights) but I will fix this.

[2014-07-22 17:16] kunzel commented on #72
Thanks @cdondrup!

[2014-07-22 17:16] #72 closed, assigned to nobody

[2014-07-23 09:12] kunzel opened #76 "Upper body detector crashes quite regularly in simulation"
The people detection works awesome in simulation!
![human_tracking_in_morse](https://cloud.githubusercontent.com/assets/4312427/3670885/47093d2c-1249-11e4-9b9d-bca6665c8d35.png)
But unfortunately, the upper body detector crashes often without any notice. The mentioned log file also does not exist. Any idea, what could cause the problem? It often happens when the human is not in sight any more.

[c

[2014-07-24 13:17] cdondrup commented on #76
Above pull request switches the output of the nodes to log files instead of screen. Since I wasn't able to run the same simulator setup on my machine, didn't know what to run, please check this out and try to reproduce the error. Then post the logfile output here please.

Also, what did you run to get the ppl perception to work in simulation? Looks amazing!

[2014-07-27 11:50] kunzel commented on #76
@cdondrup, I've just tested it with enhanced logging. Now a log file is created but the contents is still empty? Do I have to  compile it in a different way?

To get everything running in simulation you have to launch also: `roslaunch strands_morse generate_camera_topics.launch` after starting the simulator.

In your MORSE build script you have to use the following option:

robot = Scitosa5(with_c

[2014-07-28 15:25] cdondrup commented on #76
Ok, I tried to debug it a little but this is hell. As soon as you enable debug symbols it crashes due to various assertions failures. Here is the backtrace I got without debug symbols... so rather useless:

[code]

I narrowed it down to the `Detector::ComputeFreespace` function.

The thing is, if it works on the real robot but not in simulation there must be a difference between the produced data.

[2014-07-28 16:09] nilsbore commented on #76
I'm on vacation this week so I might not be able to help out much more now. It might be that the images are coming at 20 Hz in simulation vs commonly 30 Hz on the robots.

[2014-07-31 10:26] kunzel commented on #76
Thanks, @nilsbore. I tried running the camera at 30 Hz, but it did not help. The upper_body_detector is still crashing.

[2014-08-06 16:24] nilsbore commented on #76
Ok, hmm, the 20Hz is set at two places, in the ScitosA5 python file for the RGB camera and in src/generate_topics/generate_disparity.cpp for the depth. I'll turn the second one into a parameter when I have time.

[2014-08-06 16:28] nilsbore commented on #76
Otherwise, there might be something with how the respective image_raw are encoded. At least for the RGB one, I think the one coming from Morse is rgb instead of bgr for the openni stack.

[2014-08-06 16:30] cdondrup commented on #76
Yes it is. That's why the bounding box is blue in simulation and red on the real robot but the upper body detector only uses the color image for the visualisation. That shouldn't be the problem. But fixing this would be good in general.

[2014-08-12 10:24] ferdianjovan commented on #76
I ran the simulation several times and the upper body detection never crashed. The condition is that the robot stands still observing people around. The longest running simulation was more than 30 mins and it worked fine. However, when I ran the simulation with the robot following a person, it crashed several times.
![strands_morse](https://cloud.githubusercontent.com/assets/7427096/3889212/d889b8

[2014-08-13 10:26] cdondrup commented on #73
Closed via #78

[2014-08-13 10:26] #73 closed, assigned to nobody

[2014-09-02 09:45] cdondrup opened #83 "Create release branch?"
Since some of the code in here is still under development, I think it would be nice if we could create a release branch.
@lucasb-eyer am I right that you don't want your head angle code release already? Otherwise we don't need any specific branch.

[2014-09-02 09:49] cdondrup opened #84 "People perception release and licensing"
The last thing I heard is that the code for the people tracker could be released because it is published now. Hence, I would love to make it publicly available to maybe attract others to use it and contribute.

The question is @lucasb-eyer, is Aachen satisfied with using the MIT license for the tracker and detector?

[2014-09-02 09:52] cdondrup opened #85 "Create release version without HOG"
Since the whole HOG feature library is still privately hosted by Aachen, I think that the people perception should be release without the optional HOG feature detector.

Another possibility would be to catkinize it and host it on our ppa if possible. Since this generates more work, I would suggest it for future releases.

[2014-09-02 09:56] cdondrup opened #86 "Create compliant package.xml files"
I would of course volunteer as a maintainer for all the packages and author for those I wrote. Regarding the people tracker and upper body detector, does @dennismitzel still want to be involved and are there other authors that have to be mentioned? @lucasb-eyer, it would be nice if you could find that out.
Also #84 needs to be answered first.

[2014-09-02 09:58] ghost commented on #85
I'm not completely the expert here, but I think the CudaHOG stuff was written by Patrick Sudowe and has been open source since I knew it. Is there another HOG related library I missed? As far as I know it is also again included in the latest release of the tracker, so that should be fine. But again, since I'm not dealing with the whole people stuff here, it might be something to discuss with Basti

[2014-09-02 10:02] cdondrup commented on #85
The only problem is that it has to be a ubuntu or ros package in order to be included in our release. If it cannot be resolved by rosdep, it doens't work. That means, correct me if I'm wrong @marc-hanheide, we would either have to host a ros version of it or it would have to be in the official ubuntu repositories. Therefore, I think it is best to start with a version without the HOG as we are not

[2014-09-02 10:22] lucasb-eyer commented on #83
You're right, because it doesn't currently work.

If I had time till after Leeds (I'll be on vacation till then), I could fix it and then I'd have no problem releasing it.

[2014-09-02 10:42] lucasb-eyer commented on #84
Since you cut out the GPL-infested dependencies, you can. Though we did [use](http://www.vision.rwth-aachen.de/software/realpdt/realpdt) the BSD-3 license for it, so I'd suggest to use that one here too. If that's a problem and you absolutely want MIT, let me know today and I'll ask Bastian; he'll likely accept.

[2014-09-02 10:44] cdondrup commented on #83
Ok, so I will create a release branch for the first release.

[2014-09-02 10:51] lucasb-eyer commented on #85
I'm ok with not including it: less work and nobody used it. When somebody will need it, he'll have to add it. CudaHOG (actually called GroundHOG) is GPLv3 licensed anyways...

[2014-09-02 10:55] lucasb-eyer commented on #86
About the authors, only Dennis can tell, but if he doesn't react, I'd wager to say no additional authors.

[2014-09-02 10:58] cdondrup commented on #84
Actually, I think the MIT license would give people more freedom to contribute. So if Bastian is ok with that, I would like to use MIT.

[2014-09-02 11:02] cdondrup opened #87 "Add appropriate install targets to CMakeLists.txt files"

[2014-09-02 12:15] lucasb-eyer commented on #84
AFAICT the only thing it would allow in addition, is that people contribute pattern-encumbered code, which I don't think we want. Anyways, I'll ask after lunch.

[2014-09-02 12:42] marc-hanheide commented on #85
Just to say: It's not to hard to include such 3rd party libs in the process: http://wiki.ros.org/bloom/Tutorials/ReleaseThirdParty I suggest to actually do so, if there are no other objections

[2014-09-08 16:28] hawesie opened #89 "Running standalone?"
I'm trying to run the people tracker standalone (a PrimeSense stuck on a box). I am launching the following files:

[code]

But when I subscribe to the output topics (pose array, image etc.) I don't see any output. There is also nothing printed in the terminal once the tracker nodes are created. Is this launch file up to date with the new changes?

[2014-09-08 16:53] cdondrup commented on #89
Try `roslaunch strands_perception_people_launch pedestrian_tracker_standalone.launch camera_namespace:=/head_xtion` works for me.

Should I change the parameter to `camera` is that more common in the project as a parameter for the namespace?

[2014-09-08 17:01] hawesie commented on #89
Sorry mate, I should have read the doc more carefully rather than copying from the `openni_wrapper` call. I think camera is fairly common, but probably not common enough to use generally.

[2014-09-08 17:02] cdondrup commented on #89
No problem. Just let me know if you run into more problems.

[2014-09-10 09:04] hawesie commented on #89
That worked, thanks.

Now I see output on `/pedestrian_tracking/pedestrian_array` but the messages on `/pedestrian_tracking/pose_array` all come up empty. It seems related to this error message in the tracker terminal:

[code]

It looks like it's failing to transform the pedestrians into an empty output tf2 frame. I think there's a parameter I can set for this, so I will try that now

[2014-09-10 09:11] hawesie commented on #89
Yep, that fixed it. Maybe by default the pose transform should be done in the frame of tracker? Without this no poses will be generated (and they're easier to work with IMO). My final working commands:

[code]

Thanks for your help @cdondrup

[2014-09-10 09:11] #89 closed, assigned to nobody

[2014-09-10 09:16] cdondrup commented on #70
I think this should be solved now.

[2014-09-10 09:16] #70 closed, assigned to nobody

[2014-09-10 09:20] cdondrup opened #91 "Publish poses in frame of camera if not otherwise specified"
As mentioned in #89 this might be useful.

In the standalone version the tracker is currently not publishing any poses by default. This is mainly because in the standalone version I couldn't assume any tf to be present but at least the camera tf should be there. Therefore, I'll change the default behaviour to:

If there is no `tf_target_frame` specified, the pedestrian tracker will publish poses i

[2014-09-10 16:40] hawesie opened #92 "strands_perception_people_msgs/PedestrianTracking meaning"
I'm looking to inspect the tracked pedestrians to see if one is within a given range for a particular length of time. With the pose array I can easily do the distance, but I can't check whether the same track uuid reoccurs. Looking at PedestrianTracking I can see that I can get the uuid but, not being able to run the system right now (at home with laptop), I can't work out what frame the x,y,z of

[2014-09-10 17:05] cdondrup commented on #92
The `traj_*_camera` values are in the `frame_id` coordinate system (`head_xtion_depth_optical_frame`). The `traj_*` values are some form of world coordinates calculated based on visual features which we don't really need when it's running on the robot. I just use the `traj_*_camera` coordinates to create the pose message:

[code]

It is then transformed form `head_xtion_depth_optical_frame` into t

[2014-09-10 17:07] cdondrup commented on #92
Also these values represent a history over the last detections. The first element is the current detection. I don't know the number of detections that are saved in the history from the top of my head, but just looking at the first one gives you the current position.

[2014-09-10 18:34] hawesie commented on #92
Thanks, I'll try this when I get back to the lab.

[2014-09-11 12:57] hawesie commented on #92
Is the `id` the way to get the tracked person across readings? `uuid` appears to change every reading.

[2014-09-11 12:58] cdondrup commented on #92
The uuid should be the unique one. I will have a look why it changes.

[2014-09-11 12:59] cdondrup commented on #92
If you don't restart the tracker you can use id as well. The uuid is just created using the startup time of the tracker plus the id.

[2014-09-11 13:00] hawesie commented on #92
Ok, I will stick with `id`. I'm seeing same `id` but changing `uuid`.

[2014-09-11 13:22] cdondrup commented on #92
Above PR fixes the issue. The uuid is now stable as well. But as I said, if you do not restart the tracker or don't care if the ids are consistent even after restart, you can just use the id.

[2014-09-14 18:53] #92 closed, assigned to nobody

[2014-09-22 09:05] cdondrup opened #94 "Rename package to get rid of 'strands' prefix"
Since this might be interesting to the whole community (at least I hope so) the packages should be renamed to get rid of the `strands` prefix. Also, the packages have to have names that express what they do, shouldn't be too long, and have to be unique. Especially https://github.com/wg-perception/people claimed a lot of nice names already. Some of the package names work fine with just removing the

[2014-09-22 09:08] hawesie commented on #94
We should note these rules for future new packages too!

[2014-10-16 16:52] marc-hanheide commented on #84
So, can we change this repo to be public now? Just want to check once again @lucasb-eyer

[2014-10-16 16:55] cdondrup commented on #84
According to what Lucas wrote:

"@marc-hanheide we can make the repo public, but the strands_head_orientation and opencv_warco shouldn't go to the "public ros" (or whatever the name) build-track yet!
though that node will most likely crash right now. Working on fixes this week."

we could make it public. The head orientation and opencv warco will not be made available as a package because I'm goin

[2014-10-16 20:15] marc-hanheide commented on #84
Here is what github says when I'm trying to make it public:

"Current forks will remain private and will be separated from this repository".

![screen shot 2014-10-16 at 19 34 29](https://cloud.githubusercontent.com/assets/1153084/4668167/22f0c04c-5563-11e4-85e1-d7aa7f1ae550.png)

https://help.github.com/articles/what-happens-to-forks-when-a-repository-is-deleted-or-changes-visibility/#changing-a-

[2014-10-16 20:19] cdondrup commented on #84
After all PRs are merged I think we can assume that shouldn't be a problem. But the people you listed should be aware of that, that's true.

[2014-10-17 07:13] lucasb-eyer commented on #84
argh, my fail, in gitter.im I said I'd check back at the beginning of the week but then got caught up with other stuff. Sorry for the radio silence. I'm ok with @cdondrup 's suggestion.

Edit: is there still something that I need to clarify?

[2014-10-17 07:16] marc-hanheide commented on #84
nope... if you say it's ok, I'm going to press the button and make it public.

[2014-10-17 07:20] hawesie commented on #84
Press!

[2014-10-17 07:34] marc-hanheide commented on #84
done!

[2014-10-17 07:34] #84 closed, assigned to nobody

[2014-10-18 15:11] cdondrup commented on #94
Closed via #96 and #98
Might require further renaming if the ROS people are not convinced by ours.

[2014-10-18 15:11] #94 closed, assigned to cdondrup

[2014-10-18 15:12] cdondrup commented on #87
Closed via https://github.com/strands-project/strands_perception_people/pull/97

[2014-10-18 15:12] #87 closed, assigned to cdondrup

[2014-10-18 15:12] cdondrup commented on #86
Closed via https://github.com/strands-project/strands_perception_people/pull/97

[2014-10-18 15:12] #86 closed, assigned to cdondrup

[2014-10-18 16:18] cdondrup commented on #83
Just did.

[2014-10-18 16:18] #83 closed, assigned to cdondrup

[2014-10-18 16:20] cdondrup commented on #85
Closed via b10888f804b49664edd4c9a9cf442fda65773d10 and f76882f0bdfdef876f40dded49396f3de0af1c03

[2014-10-18 16:20] #85 closed, assigned to cdondrup

[2014-10-18 16:23] cdondrup opened #101 "Add appropriate licenses"
The whole  repository needs appropriate license files. I will have a test release to our own servers without but they should be added ASAP. @lucasb-eyer I know you are not involved with the people tracker but you are the only one caring at least a bit about it. I will assign this to you and it would be great if you could add the appropriate licenses to the packages from Aachen.

[2014-10-22 12:23] lucasb-eyer commented on #101
Just letting you know it's high prio on my TODO list. Will get to it soon.

[2014-10-22 12:35] lucasb-eyer opened #103 "Installing through apt-get"
Not sure if this is the right place to report. Today I wanted to set-up a VM for strands dev on my laptop and I ran into this:

[code]

[code]

[code]

[code]

I followed ROS' ubuntu installation tutorial and then our [wiki tutorial](https://github.com/strands-project-releases/strands-releases/wiki). Am I missing something, or is the repo missing something?

ping @marc-hanheide

[2014-10-22 13:04] marc-hanheide commented on #103
the problem is that all this is just being build in this very minute. See http://lcas.lincoln.ac.uk/jenkins/view/Releases/ now and you'll see the build is scheduled. Bear with us ;-)

[2014-10-22 13:04] #103 closed, assigned to nobody

[2014-10-22 13:05] lucasb-eyer commented on #103
I see, sorry for the noise.

[2014-10-22 15:17] cdondrup commented on #101
Thank you. Much appreciated.

[2014-10-23 10:15] #101 closed, assigned to lucasb-eyer

[2014-10-29 16:18] ferdianjovan opened #107 "/mdl_people_tracker/image and /upper_body_detector/image do not publish anything"
Hi all,

I just updated the strands_perception_people in Bob and something I notice is that those two topics do not publish any information. Everything else is working fine.

Any idea what I should check?

Thanks.

[2014-10-29 17:02] cdondrup commented on #107
I have just tested it in simulation but it seems to work fine for me... You do have a camera image for the normal topics `/head_xtion/rgb/image_color` and `/head_xtion/depth/image`? It might be that just the leg_detector gives you results but the cameras are not working. You can also try to turn on the `/upper_body_detector/marker_array` MarkerArray visualisation to check if the upper body detecto

[2014-10-30 11:52] ferdianjovan commented on #107
I just checked that the upper_body_detector is not really running. Topics from the upper body detector are there but they do not publish anything.

Any guess?

Thanks.

[2014-10-30 12:00] cdondrup commented on #107
The only reason for that could be that one of the supplying modules is not running.
Please check that the following topics publish things:

[code]

Another reason could be if the PC clocks are not properly synchronised. Are you using `chrony` to sync the PC clocks?

[2014-10-30 12:15] ferdianjovan commented on #107
I am not sure about chrony, I think we are using chrony. From chronyc tracking this is the result

[code]

Anyway, The /ground_plane does not publish anything.

[2014-10-30 12:22] cdondrup commented on #107
If the ground plane is not published then that will be the reason.
Is there anything on `/ptu/state`? What are you launching exactly?

[2014-10-30 12:31] ferdianjovan commented on #107
Nothing in /ptu/state. I am launching people_tracker_robot.launch, openni_wrapper launch file and standard bob-bringup.launch from strands_bob.

[2014-10-30 12:33] cdondrup commented on #107
Ok, then the ptu is somehow not running... The state is used to transform the ground plane when the PTU is tilted. Please check why that is not the case. Don't really know where this is launched.
Can you move the PTU by publishing to `/ptu/cmd_state` (not sure about the topic name)?

[2014-10-30 15:55] ferdianjovan commented on #107
I tried to move the PTU, no luck. Ok then, I will try to open an issue somewhere where this problem belongs.
Thanks.

[2014-11-11 18:46] ferdianjovan opened #112 "Bayes people tracker crashes"
I tried using different leg detectors from https://github.com/marcobecerrap/leg_detector
and changed default.yaml to (this is just part of default.yaml)
[code]
as the leg_detector already publishes geometry_msgs/PoseArray.
I got an error as follows:

[code]

@marcobecerrap will update his leg detector and we will try it again tomorrow.

[2014-11-12 10:14] marcobecerrap commented on #112
It's updated. I erased redundant patterns.

[2014-11-12 10:16] cdondrup commented on #112
Can you post some example output?

[2014-11-12 10:31] ferdianjovan commented on #112
This is the output from /leg_detector_topic

[code]

[2014-11-12 12:08] ferdianjovan commented on #112
I and @marcobecerrap compared between /to_pose_array/leg_detector header and /leg_detector_topic header. The difference comes to header.seq where /to_pose_array/leg_detector has much smaller number than /leg_detector_topic and header.frame_id where /to_pose_array/leg_detector has 'odom' and /leg_detector_topic has ''.

We changed the /leg_detector_topic header.frame_id to 'odom' and header.seq to

[2014-11-12 12:33] cdondrup commented on #112
OK, apparently this fails:

[code]

Which would mean that there is only one observation in there (which shouldn't be possible) or they all have the same timestamp. I will investigate this.

[2014-11-13 14:17] cdondrup opened #113 "[bayes_people_tracker_logging] Add logging of current edge and node"
By request from @Jailander the node also has to log the current edge the robot is traversing and the current node it is at. Since both of them are just published as string it will only create an implicit dependency on  `strands_navigation`. If nothing is published it will still log the people tracks without the edge and node information.

@Jailander, can you please post the topics on which those a

[2014-11-13 20:46] Jailander commented on #113
The topic name is `/current_edge`, it is a `String` message type with the following format when navigating `'%s_%s--%s' %(Origin, Target, topol map name)` and `none` when no edge is being navigated.

[2014-11-14 14:29] ferdianjovan commented on #112
Any luck with the problem?
Is there anything I can do to help solving this?

[2014-11-14 15:44] cdondrup commented on #112
We just had a demo here and worked perfectly with the standard leg_detector and the upper body detector. There must be something significantly different in the behaviour or output of your leg detector. can you record a bag of the output?

[2014-11-17 13:33] ferdianjovan commented on #112
I managed to make our leg detector worked fairly fine with bayes tracker and upper body detector. But up to some point it still crashes with the same error. Tried two times, crashed after 3 mins and 5 mins.

[2014-11-18 12:30] cdondrup commented on #112
I didn't have time to look at the bag you sent yet but if it crashes there must be something wrong with the output of the leg detector. Never observed this behaviour here or in simulation. I'll try to have a look at it but cannot promise anything.

[2014-11-25 13:35] hawesie opened #115 "Running standalone with Kinect and openni_launch"
I'm trying to set this up for a student with the released version of the tracker etc. The computer we have access to has an old Kinect. We are running this with `openni_launch` rather than `openni_wrapper` as the latter doesn't seem to produce output, but the former does. When I run the standalone tracker, I don't get any output on `/mdl_people_tracker/image` or `/mdl_people_tracker/people_array`.

[2014-11-25 13:36] hawesie commented on #115
I've looked back at #89 but it seems like the issues I had with parameters have changed now.

[2014-11-25 13:51] cdondrup commented on #115
The main difference between the openni_wrapper and the openni_launch is the name of the depth topic it subscribes to. This is also missing in the graph. Try to run it with `depth_image:=/depth/image` or `depth_image:=/depth/image_rect` because the default topic for the wrapper is `/depth/image_rect_meters` which doesn't exist within the openni_launch.

In general the topic name is made from `camer

[2014-11-26 09:32] hawesie commented on #115
Awesome, that works. Sorry for the bother, but the params and namespaces looked superficially correct enough that my brain didn't kick in. So, to confirm I have a successful standalone system with released packages running just:

[code]

Subscribing to `/mdl_people_tracker/image` in rviz shows the output.

[2014-11-26 09:32] #115 closed, assigned to nobody

[2014-11-28 10:36] hawesie opened #116 "Getting image and depth bounding boxes"
I have a student who is working with the tracker. For each observation of a person we'd like to get the part of the RGBD image which contains them, i.e. the actual bounding box or the bounding cylinder which is rendered in the output image of the tracker. Is this possible? We looked at the outputs available and didn't see anything obvious.

[2014-11-28 11:31] cdondrup commented on #116
The depth bounding box is published as `/upper_body_detector/detections` as [this message type](https://github.com/strands-project/strands_perception_people/blob/hydro-devel/upper_body_detector/msg/UpperBodyDetector.msg) where everything but `dist` describes an attribute of the box. `dist` is just the distance to the template and therefore reflects the certainty where as `median_depth` represents

[2014-11-28 13:57] hawesie commented on #116
Cool, thanks.

As this is just upper body, how about the complete box around the human? I guess we could get the ground plane (this is standalone, so we'd need to get the extracted one) and project the upper body box downwards, but it looks like this data is in the pedestrian tracker already.

[2014-11-28 14:16] cdondrup commented on #116
Afaik, the tracker only renders a bounding cylinder onto the RGB image and does not export it anywhere. See [this line](https://github.com/strands-project/strands_perception_people/blob/hydro-devel/mdl_people_tracker/src/Tracker.cpp#L403) for where it calls the rendering function. Maybe that gives you an idea on how to do it.

I know too little about the tracker to make a more qualified statement

[2014-11-28 14:18] cdondrup commented on #116
Regarding the ground plane, that is published as `/ground_plane` and should have the same timestamp as the upper_body_detector because they both get their timestamps from the image they use. Can therefore easily be synchronised.

[2014-11-28 16:18] lucasb-eyer commented on #116
I know less of the tracker than you (and I hope that it'll stay that way :grinning:) but I asked a colleague who is starting to get into it. The position of the person should be published already(?) For the visualization, the cylinders have a hardcoded width/radius and for the height, it's taken from the detection, but @cdondrup's link looks more useful than anything I'd be able to point to.

[2014-11-28 16:57] cdondrup commented on #116
Indeed, the position of the human in world and camera coordinates projected to the ground plane is already [published](https://github.com/strands-project/strands_perception_people/blob/hydro-devel/mdl_people_tracker/msg/MdlPeopleTracker.msg). Maybe that helps as well @hawesie because that is already using the estimated ground plane.

[2015-02-09 16:36] Pandoro opened #117 "logging fails in Indigo"
When starting the the people_tracker_robot.launch with log:=true the following error is thrown:

[code]

[2015-02-09 16:38] Pandoro opened #118 "detector_msg_to_pose_array does not work unter Indigo"
When starting the people_tracker_robot.launch with the detector_msg_to_pose_array, the following error is thrown:

[code]
The tracker seems to work when commenting out the to pose array part.

[2015-02-12 16:43] hawesie commented on #46
Closable?

[2015-02-12 16:47] hawesie opened #119 "Integration of Belloto leg detection implementation"
@ferdianjovan has been integrating @marcobecerrap's implementation of a laser-based leg detection algorithm from Belloto with the aim of getting better long-distance readings from the laser in order to get longer people tracks.

I'm just putting it here so other tracker users know it's going on @cdondrup @marc-hanheide

[2015-02-12 16:49] marc-hanheide commented on #119
where is it? ;-)

[2015-02-12 16:51] hawesie commented on #119
@ferdianjovan ?

[2015-02-12 16:53] ferdianjovan commented on #119
https://github.com/marcobecerrap/leg_detector

[2015-02-12 16:55] hawesie commented on #119
And the configuration for integrating it into the overall tracker?

[2015-02-13 09:35] ferdianjovan commented on #119
You need to follow the instruction in bayes people tracker package https://github.com/ferdianjovan/strands_perception_people/tree/hydro-devel/bayes_people_tracker
add the leg_detector to the detectors.yaml. The topic is /leg_detector_topic/.

[2015-02-14 19:20] cdondrup commented on #119
I guess @marc-hanheide is already looking into releasing it? Should we have a stable fork in strands, is Marco going to work on it or is it just maintained from now on?

[2015-02-14 19:22] cdondrup commented on #46
Since this is ages old, we are are using a different tracker now, and I don't have hope in @dennismitzel still working on this, I'll close it.

[2015-02-14 19:22] #46 closed

[2015-02-16 17:23] marc-hanheide commented on #119
I am and talked to @ferdianjovan about it, because the name was clashing (see https://github.com/marcobecerrap/leg_detector/issues/3) and also the `package.xml` needs fixing: https://github.com/marcobecerrap/leg_detector/issues/4

[2015-02-16 17:26] ferdianjovan commented on #119
I will talk with @marcobecerrap to fix the clashing problem.

[2015-02-17 09:39] cdondrup commented on #113
@jailander is this still necessary? I remember we talked about this and for some reason I didn't do anything afterwards ;) Do we still need this?

[2015-02-17 09:40] cdondrup commented on #112
@ferdianjovan since the leg_detector now seems to work with the tracker, what was the issue?

[2015-02-17 09:43] cdondrup opened #121 "Removing release branches"
Maintaining the release branches has become a bit of a pain. @lucasb-eyer is it possible to release the devel branches including your code? We could not make it install anything and not add it to the metapackage if you don't want people to use it but I would really like to have a cleaner structure. If that is OK for you I will remove the release branches and release form the devel branches. I can

[2015-02-17 09:44] cdondrup commented on #27
This has been done for the release.

[2015-02-17 09:44] #27 closed

[2015-02-17 09:45] cdondrup commented on #11
I think we can leave it like it is for the moment since no one ever complained about not being able to build in debug mode.

[2015-02-17 09:45] #11 closed

[2015-02-17 09:45] cdondrup commented on #23
This will most likely never happen.

[2015-02-17 09:45] #23 closed

[2015-02-17 09:47] lucasb-eyer commented on #11
:+1:

[2015-02-17 09:47] cdondrup commented on #29
No comments since over a year ago. The current ground plane estimation seems to work fine for the detector. If there is a  unified way of getting the plane at some point we could reopen this.

[2015-02-17 09:47] #29 closed

[2015-02-17 09:48] lucasb-eyer commented on #121
I'm ok with that and thanks for adjusting the files for me, I wouldn't know how myself!

[2015-02-17 09:48] cdondrup commented on #56
@lucasb-eyer any news on that? Is that still valid?

[2015-02-17 09:48] cdondrup commented on #57
@lucasb-eyer any news on that? Is that still valid?

[2015-02-17 09:52] lucasb-eyer commented on #57
I think it's a service now. I always confuse "service" and "action server." Anyways, we can close this until someone actually needs to use the heads output and has further requirements.

[2015-02-17 09:52] #57 closed

[2015-02-17 09:52] lucasb-eyer commented on #56
Nope.

[2015-02-17 09:52] #56 closed

[2015-02-17 09:56] cdondrup opened #122 "Move 3rdparty hog detector to attic branch"
Since no one ever used the hog detector and it still has a bug which produces the wrong output, I will move it to an attic branch to get rid of it in preparation of a proper release. Has also not been tested under 14.04 and indigo yet.

If any one objects please speak now or forever hold your peace.

[2015-02-17 12:30] cdondrup commented on #122
The attic branch has been created.
See #123 to remove from indigo-devel and #124 to remove from hydro-devel

[2015-02-17 12:34] ferdianjovan commented on #112
Yeah, I forgot about this issue. This issue was because the leg detector produces a lot of false positives that might be really near to each other at one time. So when the leg detector sends the pose array to bayes tracker, bayes tracker tends to treat those very near poses as one sequence. It adds the poses in obsSeq somehow.
So when it comes to `assert(dt)`` It will fail as those are different p

[2015-02-17 12:34] #112 closed

[2015-02-17 20:36] cdondrup commented on #118
Cannot recreate the error. Will have to try once the robot is back. For now everything seems to work fine.

[2015-02-18 19:28] cdondrup commented on #122
Has been moved

[2015-02-18 19:28] #122 closed

[2015-02-18 19:29] cdondrup opened #133 "Test head orientation moduel"
I had to refactor the opencv_warco package a little. @lucasb-eyer pleas check that I didn't destroy any functionality. It still builds, but a quick test can't hurt.

[2015-02-23 08:24] mzillich opened #135 "stop gesture detection"
We need the matlab implementation of the "stop" gesture detector integrated as ROS component.

False negatives are ok, we might need a few pictures to get the gesture. False positives should be avoided.

[2015-02-23 10:54] cdondrup commented on #135
Just a few things to remember for @urafi
- Please make sure that everything has proper install targets, i.e. runs after sourcing `install/setup.bash`
- Most importantly, I am not aware of the state of the detector and if this is code that is not supposed to be publicised because it is not published yet. If this is the case we can not put it here and we cannot create a debian package out of this. T

[2015-02-27 16:57] cdondrup opened #138 "Enable logging via dynamic reconfigure"
To dynamically enable and disable logging, we should use reconfigure instead of starting and stopping a node.

[2015-02-27 17:01] cdondrup commented on #117
this should be fixed by #130, but I will test it first.

[2015-03-02 12:04] cdondrup commented on #117
Tested. Works.

[2015-03-02 12:04] #117 closed

[2015-03-02 12:05] cdondrup commented on #118
Tested it on the robot. Seems to have been caused by an old version of something. The newest version of indigo and people perception don't show this behaviour any more.
I know this answer is not really satisfying, but the problem is solved.

[2015-03-02 12:05] #118 closed

[2015-03-02 12:10] cdondrup commented on #121
Just tested the new indigo packages on the robot. Work fine. I therefore will remove the indigo-release branch.
The hydro-release branch will stay as it is, not being maintained. If anyone needs the hydro version with the latest changes desperately, please open a new ticket.

[2015-03-02 12:10] #121 closed

[2015-03-02 14:36] cdondrup opened #141 "[bayes_people_tracker_logging] revamp"
Currently the logger has a message that does not correspond to what it does. It has been a general logger for the whole output of the ppl perception pipeline including the upper body detector and the mdl people tracker.  Due to a stupid mistake on my side, this prevented it from logging anything if not all of these topics where published. As kind of a hotfix during the marathon, I just removed eve

[2015-03-02 14:38] cdondrup commented on #116
Is this still valid? @hawesie

[2015-03-02 14:39] cdondrup commented on #119
This seems to be done. Any news on the final integration with the tracker? @marc-hanheide @ferdianjovan
I also talked to Nicola and he offered to help with the integration and the filter of false positives using the tracker like it was done in the original paper. No time frame on that, though.

[2015-03-02 14:40] cdondrup commented on #113
No answer. I'll close this. Please reopen if necessary @Jailander

[2015-03-02 14:42] cdondrup commented on #135
After today's discussion, I'll remove this from the milestone but I'll leave the issue open in hope that we will have one at some point.

[2015-03-02 14:51] hawesie commented on #116
We have a solution working, but nothing generalised enough for public consumption.

[2015-03-02 18:04] lucasb-eyer commented on #141
What kind of upper_body_detector outputs are we talking about?

I'd be interested if it does somehow include images, so I could get rid of [strands_head_orientation/src/store_detections.cpp](https://github.com/strands-project/strands_perception_people/blob/indigo-devel/strands_head_orientation/src/store_detections.cpp). If it's too much trouble/too off-topic for a "bayes people tracker logger," I

[2015-03-02 18:07] lucasb-eyer commented on #116
Reopened since @vonovak is currently working on this.

[2015-03-02 18:20] cdondrup commented on #141
It wasn't logging images, no.
It really depends on what we want to log, when, and how. I need the trajectories so logging for me means just looking at them. I included the ubd detections and the mdl tracks just in case someone needs them but I only need the bayes tracker output.
If we say that, whenever we see a human we also want to log images than it could be in there as well. But then the name

[2015-03-03 08:37] Jailander commented on #113
For sme crazy reason I didn't receive your previous notification yes it would be nice to have it, it's not a big hassle and the benefit is important.
But on the other hand  correct me if I'm wrong @marc-hanheide I thought logging the current node/edge was going to be standard now, @hawesie mentioned something about adding it on the meta information of every logged msg, so I'm not sure if @cdondrup

[2015-03-03 09:34] lucasb-eyer commented on #141
I guess the question is what we'll want to do with the output. I think if we want to use it for evaluation purposes (ie. our paper or reports) we really need the corresponding (full) video to each track, so that we have a way to annotate ground-truth. Whether it best fits in this node or a separate one, you know better than me.

If it's for something else then I agree with the separate logger for

[2015-03-03 10:03] cdondrup commented on #141
I think it would be good to have the option of logging one or the other or both together. If you are only interested in logging trajectories, e.g. afaik me, @ferdianjovan, and Leeds, then always logging the images as well just floods your datacentre with unnecessary information. I agree that for ground truth we need the videos and also laser data in addition to the trajectories.

I'll create a sep

[2015-03-03 10:04] cdondrup opened #142 "Create node to log raw data"
Necessary for ground-truthing tracker results. See discussion here: #141

[2015-03-03 10:26] lucasb-eyer commented on #141
sounds good to me, and I'll monitor that to see if/when I can help.

[2015-03-03 11:08] ferdianjovan commented on #119
Not really sure about the integration, but the leg detector is ready in @marcobecerrap repo.
That sounds good if there is a filter for all false positives.

[2015-03-03 11:11] ferdianjovan commented on #141
I might need images and videos later, so having the separate logger for those is really good.
I will see what I can do to help that as well.

[2015-03-03 11:14] cdondrup commented on #141
Thank you guys, I might take you up on that offer. There won't be much happening before the 15/3 so stay tuned.

[2015-03-06 10:00] marc-hanheide opened #143 "supporting ROS type `people_msgs/People`"
It would be very beneficial, e.g. to use the [social costmaps](https://github.com/marc-hanheide/navigation_layers/tree/indigo/social_navigation_layers) of [Lu!! et al](http://www.cse.wustl.edu/~dvl1/publications/LayeredCostmaps.pdf) to have our people tracker publishing on the `/people` topic (type: [`people_msgs/People`](http://docs.ros.org/api/people_msgs/html/msg/People.html)):

[code]

So, my

[2015-03-06 10:46] cdondrup commented on #143
Should be easy enough to do. The only thing I can't really figure out is, what `name`, `tags`, `tagnames`, and `reliability` is used for. A quick grep on the navigation_layers repo told me that all these values are never used.
I'll set `name` to the uuid and will also add a `tag` for it. The position and velocity comes out of the tracker anyway and since my code is always fail safe I will just set

[2015-03-06 10:55] marc-hanheide commented on #143
Great. We can then have the student do some experiment with that proxemics layer.

[2015-03-06 11:07] ferdianjovan commented on #143
Ah yes, that one, I came across that a long time ago and I forgot about it. About the velocity, what will you put there? Will it be the velocity between two poses or be the average velocity?

[2015-03-06 11:16] cdondrup commented on #143
It will be the velocity used by the tracker for the prediction. Since it uses a constant velocity model, I assume it'll be the average velocity. I didn't check the actual implementation yet, though.

[2015-03-06 11:55] cdondrup commented on #143
Done. Needs testing though.

[2015-03-06 16:32] #143 closed

[2015-03-06 17:25] cdondrup commented on #38
Closed via #144

[2015-03-06 17:25] #38 closed

[2015-03-07 22:53] marc-hanheide commented on #143
Thanks!

[2015-03-11 12:05] ferdianjovan commented on #107
I had the same problem again but all referred topics are working fine. The result from `chronyc tracking` is

[code]

Any idea about the problem?

[2015-03-11 12:12] cdondrup commented on #107
For the upper body detector these topics:

[code]

Need to publish. If they do, you should have an image. Never mind the mdl tracker since we are not using this any more and it is not part of the default startup any more since the latest update.

For the ground plane its

[code]

Needs to publish. Can you check all those please?

[2015-03-11 12:17] cdondrup commented on #107
Also, did you start in on the machine which has the head_xtion connected? Otherwise data transfer might be too slow:

[code]

[2015-03-11 12:31] ferdianjovan commented on #107
Yup, they are publishing data. I got image from head_xtion/rgb/image.

Is this because of synchronization?

[2015-03-11 12:35] cdondrup commented on #107
If all of them are publishing, sometimes the depth image doesn't even though you have a colour image, then it must be synchronisation. You can try to increase the queue size for the ubd: `ubd_queue_size:=20` for example. That queues up more images before it starts throwing them away. Never had that problem on Linda though.

[2015-03-11 13:49] ferdianjovan commented on #107
I ruin perception people from the same machine which has the head_xtion connected. I have increased `ubd_queue_size:=30`, still no luck.

I run upperbody package and ground_plane_estimation only and still no luck.

[code]

[code]

Any idea?

[2015-03-11 16:07] cdondrup commented on #107
can you post the rqt graph?

[2015-03-13 17:42] cdondrup opened #149 "[bayes_people_tracker] make frame id for distance measurement configurable."

[2015-03-16 14:37] ferdianjovan commented on #107
Sorry for the delay. This is the rqt_graph.

![rosgraph](https://cloud.githubusercontent.com/assets/7427096/6668298/d8ff9cf8-cbe9-11e4-987a-8c446a6623f1.png)

[2015-03-16 14:51] cdondrup commented on #107
That actually looks good. If it is not synchronisation and if everything is publishing, it should work. Can't really tell you anything else :(
Maybe you can ask @lucasb-eyer to have a look if he is around ;)

[2015-03-16 15:37] pet1330 opened #150 "NaN values cause it to hang"
The Node crashes or hangs when the input pose contains NaN values.

[2015-03-16 15:42] cdondrup commented on #150
The bayes_people_tracker that is.
What contains NaN values? The poses? Or the Array of Poses? Do you have an example?

[2015-03-16 15:54] ferdianjovan commented on #107
Ah ok, really thanks for your help. It drives me crazy :)

[2015-03-16 17:16] pet1330 commented on #150
When the PeopleTracker::detectorCallback function is called, and the PoseArray contains a pose which is nan, then it errors.

The debug log contains this:

[code]

It doesn't hang on the callback containing NaN, but after the following callback. I output some of the numbers to show this:  (robotTF is the same pose after the tf lookup)

[code]

[2015-03-19 17:47] lucasb-eyer commented on #133
Way late, but it still works.

[2015-03-19 17:47] #133 closed

[2015-03-19 17:47] lucasb-eyer commented on #116
cf. #148

[2015-03-19 17:52] lucasb-eyer commented on #107
It indeed is the clock. You can see that by `rostopic echo`ing all topics that the UBD subscribes and look at their timestamp. Today there was a huge discrepancy of about 1.8k seconds between `/head_xtion/depth/camera_info` and `/ground_plane`.

After running `sudo ntpdate betty`, and then restarting all perception-related nodes, everything works fine. The weird thing is that we ran `sudo ntpdate

[2015-03-19 17:52] #107 closed

[2015-03-20 11:21] cdondrup commented on #150
We agreed that a detector should not publish nan values in the first place. Will be solved at a different place. Closing for now. Please re-open if you disagree.

[2015-03-20 11:21] #150 closed

[2015-03-24 00:52] cdondrup opened #152 "Add respawn flag to nodes."
This shouldn't do any harm since all of the components dynamically subscribe and unsubscribe any way.
Just need to touch all the launch files...

[2015-04-01 17:19] cdondrup commented on #142
We decided against logging all the raw data for now and just use #154. If @ferdianjovan needs such a component, please re-open.

[2015-04-01 17:19] #142 closed

[2015-04-01 17:20] cdondrup commented on #138
This will be handled differently, maybe via a prepare and end day routine to start and stop logging nodes. Not via reconfigure or service.

[2015-04-01 17:20] #138 closed

[2015-04-01 17:22] lucasb-eyer commented on #142
If I am included in the "we," I don't remember discussing this explicitly. But we do have enough raw data from last visit at AAF, so I agree that we don't need this (yet).

[2015-04-01 17:23] cdondrup commented on #142
Yes, you are. We said so before starting to write the logging nodes ;)

[2015-04-01 21:39] ferdianjovan commented on #142
just to clear this up, so no node stores people_tracker message, doesnt it?

[2015-04-01 22:47] cdondrup commented on #142
Of course there will be one @ferdianjovan. See #155.
We just won't log raw RGBD or laser data. Please hav a look at the PR and let me know if you want anything else stored.

[2015-04-01 22:58] ferdianjovan commented on #142
Ah, ok. Thanks for the info. No, that will be enough for me :)

[2015-04-02 15:53] cdondrup opened #156 "Upper body detector crashes quite frequently"
#76 seems to have found its way to the real robot:

[code]

I will try to investigate but for now it will be "fixed" via #152 which I will PR by the end of the day.

[2015-04-02 17:04] #141 closed

[2015-04-02 17:10] #152 closed

[2015-04-02 21:56] lucasb-eyer commented on #156
Hard to do much without either a reproducible case (bagfile?) or a coredump or even a backtrace.

[2015-04-07 16:39] #113 closed

[2015-04-23 16:21] lucasb-eyer opened #162 "Ground plane publishing too slow."
The groundplane is only being published at 10hz, because of this the upper-body-detector also won't run faster than 10hz, even though it easily could run >30hz. I'll make a PR fixing this sometime soon.

[2015-05-06 14:03] PDuckworth opened #163 "human_trajectory error"
@ferdianjovan please see error:

[code]

[2015-05-06 14:06] ferdianjovan commented on #163
This errors makes the last trajectory (which is supposed to be the eight trajectory) not be saved.
I will look into that.

[2015-05-19 13:21] cdondrup opened #164 "upper body logging issues"
The ubd logging node only provided 6 DB entries over a whole day. @lucasb-eyer might want to have a look why that might be. Also it hogs a lot of CPU.

[2015-05-19 23:44] lucasb-eyer commented on #164
Thank you for checking. That's weird as I observed it working fine for a day in g4s. Is there a way for me to get remote-acces? (email?) Unfortunately I'm working on a paper deadline so don't have much time to check it.

It _also_ hogging the CPU might indicate some problem with queueing messages.

[2015-05-22 09:29] ferdianjovan commented on #163
Fixed in https://github.com/strands-project/strands_perception_people/pull/165.

[2015-07-22 10:02] cdondrup commented on #164
Has this been solved @lucasb-eyer ?

[2015-07-22 10:02] #163 closed

[2015-07-22 10:05] lucasb-eyer commented on #164
Nope, not on my end. It (apparently) worked just fine during the review, so I still have no idea what may have caused this. Do you have that problem right, or are you triaging issues? If the latter, I'll let this sleep until I get back to working on it, since I (still) don't have much time for it.

[2015-07-22 10:58] cdondrup commented on #164
The latter ;)

[2015-08-30 14:14] cdondrup opened #171 "Use and include laser_filter package"
[This](https://github.com/DLu/laser_filtering) filters out the laser measurements that correspond to obstacles in the static map and then passes only the remainder to the leg_detector, removing a lot of the static false positives like tables.

- [ ] Include laser_filters in top level launch file.
- [ ] Change topic names accordingly.

[2015-08-31 05:40] lucasb-eyer commented on #171
Good Job! I've always wondered why this is not a thing.

[2015-08-31 05:41] lucasb-eyer commented on #171
Oh, I thought it was a PR. I should not write on github after all-nighters =)

[2015-08-31 08:59] cdondrup commented on #171
Also, this is a standard package of which I just didn't know what it does and that it exists until @marinaKollmitz from the lamor school told me. But thank you for the praise ;)

[2015-09-02 05:46] #171 closed

[2015-09-09 20:40] tlind commented on #171
Now this is funny! Without being aware of your commits, I implemented almost exactly the same mechanism in SPENCER 9 days ago. So you beat us by one day ;)... we are filtering on the detection level, though, as opposed to the measurement level... which allows us, in theory, to e.g. also filter detections from the HOG detector against the static map. But your solution is computationally more effici

[2015-09-09 21:00] marc-hanheide commented on #171
@tlind we should talk more ;-)

[2015-09-10 06:33] lucasb-eyer commented on #171
I think one should do this on one's training data before using it for training. Do you know if the standard leg detectors did that?

Otherwise, I agree with your last point, but didn't manage to fully convince @Pandoro :-)

[2015-09-10 07:35] tlind commented on #171
@marc-hanheide @cdondrup  Yes indeed! Sadly I didn't make it to the summer school in Lincoln due to scheduling constraints, but maybe we'll see each other at IROS?

@lucasb-eyer The laser detectors are usually trained on manually annotated groundtruth data, where the annotation labels are "foreground" (person) and "background". So there is no need to have an occupancy grid map for training if the

[2015-09-10 07:47] lucasb-eyer commented on #171
I see, and the detector-internal "tracking" part helps work around this a bit, but for standing people I guess it'll be a hard problem. Anyways, thanks for the details!

[2015-10-03 09:08] cdondrup opened #175 "Add people tracker filter based on map"
Inspired by the laser filter for the leg detector, this filter will either take the current map published on `/map` and exclude all detections that are not in free space, i.e. obstacles or unknown, or uses a custom map to do so. Similar to the abandoned `no_go_map` this `no_ppl_map` allows you to draw black areas into the map, where you won't accept any people tracks. This is useful if you have an

[2015-10-05 10:15] lucasb-eyer commented on #175
neat, will use when it's in.

[2015-10-06 16:41] filipetrocadoferreira opened #176 "Adapt Node to custom depth image"
I'm producing a depth image from stereo cameras and publishing it as 16uint with distance in mm.

What kind of data is this node expecting? 32F in meters right?

When I try to convert it with:
matrix_depth(c, r) = ((double)(img_depth_.at<uint16_t>(r,c)))/1000.0;

I usually get this error : [upper_body_detector-3] process has died [pid 7837, exit code -11, cmd /home/followinspiration/catkin_ws/deve

[2015-10-06 16:53] filipetrocadoferreira commented on #76
I have similar error using upper body detection with a custom depth image produced from a stereo camera setup.

[2015-10-07 07:31] lucasb-eyer commented on #176
Yes, `32FC1` in meters.

Is your switching `r,c` to `c,r` intentional?

[2015-10-07 08:08] filipetrocadoferreira commented on #176
I'm just using the same approach as the original:

 matrix_depth(c, r) = img_depth_.at<float>(r,c);

[2015-10-07 08:17] lucasb-eyer commented on #176
I guess by "the original" you mean [this loop](https://github.com/strands-project/strands_perception_people/blob/ae3a7d94c307a0f02f3df0a59f8866740cde337c/upper_body_detector/src/main.cpp#L200-L205)? As you can see, the image dimensions were hard-coded there. Is your stereo image also 640x480? If not, did you adapt the loop conditions?

Anyways, if you can compile in debug mode and run in GDB, that

[2015-10-07 08:23] filipetrocadoferreira commented on #176
Yes! It's that loop.
I did adapt the loop conditions to info->width and info->height.

I will try to run the code in debug mode and give you more info. Thanks!

[2015-10-07 09:23] filipetrocadoferreira commented on #176
So I checked Debug:

upper_body_detector: /home/followinspiration/catkin_ws/src/spencer_people_tracking/detection/rgbd_detectors/rwth_upper_body_detector/include/Matrix.h:307: T& Matrix<T>::operator()(int, int) [with T = double]: Assertion `x < x_size_ && y < y_size_ && x >= 0 && y >= 0' failed.

I guess my depth or camera information are not well suited to this node. Or I can be the freespace par

[2015-10-07 09:28] cdondrup commented on #176
Something else we noticed while trying to get the UBD running on a different robot, if the ground plane is not correct, it dies without any intelligible output. If you use the ground plane estimation, this shouldn't be a problem. If the fixed one is used, it has to be transformed according to the tilt angle of the camera. Not sure if this is related but it caused the UBD to die in a matter of seco

[2015-10-07 09:32] lucasb-eyer commented on #176
I think the assertion is pretty clear in that there's out-of-bounds access to the matrix somewhere. Now we just need a backtrace to see where that happens.

Also, this may or may not be the cause of the crash.

[2015-10-07 09:40] filipetrocadoferreira commented on #176
So I've tried to change the values of the config file .inp.

Something like :

freespace_minX = -9;
freespace_minZ = -3;
freespace_maxX = 9;
freespace_maxZ = 9;
freespace_threshold = 500
freespace_max_depth_to_cons = 7

With this the program does not crash but also does not produce any detection. I still need to verify my depth map.

I'm using really_fixed ground plane with 1.4 m of the floor.

[2015-10-07 09:45] lucasb-eyer commented on #176
huh, `really_fixed` GP is something I wrote for the SPENCER project, I don't think it exists here in the STRANDS repos.

I still think investigating above assertion failure, or attaching gdb and getting a back-trace of the crash, are the only ways forward.

[2015-10-07 09:49] filipetrocadoferreira commented on #176
Oh yeah, sorry about that.

Is there any visual feedback about the projection of point cloud on the occupation map?

[2015-10-07 10:47] filipetrocadoferreira commented on #176
Is there any option to manually find the fixed normals and distance to the floor? Because the ground plane estimation is not working properly with my depth map produced from a stereo rig.

[2015-10-07 12:54] lucasb-eyer commented on #176
I don't know the answer to both of these, sorry.

[2015-10-07 13:04] Pandoro commented on #176
As far as I remember, the used VO is fovis. This is designed for rgbd
cameras. It might well be the VO will not work with stereo images.
On Oct 7, 2015 14:54, "Lucas Beyer" notifications@github.com wrote:

[2015-10-07 13:49] filipetrocadoferreira commented on #176
Sorry, VO stands for what?

@lucasb-eyer  I will try to examinate the output of occupation map. I feel that will be there the key to this problem. Actually the projection on floor coordinates is critical in this procedure and not so straight forward to some configurations.

[2015-10-08 11:47] Pandoro commented on #176
VO strands for Visual Odometry, but after thinking about it again, I might
have mixed two things. But as far as I remember the VO is used to track the
ground plane over time instead of estimating it in every frame. If this is
the case, it could be a source of wrong ground planes, otherwise ignore my
comment.

On Wed, Oct 7, 2015 at 3:49 PM, filipetrocadoferreira <
notifications@github.com> wrote:

[2015-10-08 12:31] filipetrocadoferreira commented on #176
Oh I got it. In my case the pointcloud produced from stereo does not have a good represantation of the floor plane, (it does not appear in almost all the frames)

[2015-10-08 14:40] filipetrocadoferreira commented on #176
So I achieve to start getting detections (still not with the desire accuracy but good results) .

Important things to change while using depth from disparity:
-Take attention to Camera Intrinsics
-Set freespace_threshold to a lower number, in my case: 150 . Because depth maps from disparity usually have less points than  rgbd cameras.
-Set evaluation_threshold to have a desire relation between fal

[2015-10-08 16:05] Pandoro commented on #176
A correctly estimated ground plane is crucial to the approach. If you
cannot guarantee that, there is no real point in trying to us it. Either
you can give a fixed groundplane, based on a robot setup for example, or
use the estimation. But without it, it will not work correctly.

On Thu, Oct 8, 2015 at 4:40 PM, filipetrocadoferreira <
notifications@github.com> wrote:

[2015-10-11 12:27] cdondrup opened #177 "Add really_fixed_grounplane to this repo"
@lucasb-eyer since we are trying to get the ubd to run on a baxter and a robosoft robot without any PTU, can you just add the really_fixed groundplane node to this repo as well? Saves me a bit of work ;)

[2015-10-11 16:25] lucasb-eyer commented on #177
Damnit, I should've shut up :smile: Will do, but am currently in an integration week so not sure when exactly.

[2015-10-11 16:27] cdondrup commented on #177
If it's just about copying the code file and adding it to the CMakeLists, I can do that as well if your fine with having your code in STRANDS as well.

[2015-10-11 16:34] lucasb-eyer commented on #177
I don't mind, it was just a quick hack I forgot about. The code is [here](https://github.com/spencer-project/spencer_people_tracking/tree/master/utils/rwth_ground_plane) but [apparently](https://github.com/spencer-project/spencer_people_tracking/commit/e2beb19389d634119455dd2f109abde396a8e301) it's been renamed to take "really" out of its name, though not _really_ consistently.

[2015-10-11 16:35] cdondrup commented on #177
OK, I'll take a look at integrating this together with @Jailander who wants to make this work on a Baxter as well.

[2015-10-11 16:36] lucasb-eyer commented on #177
Yay unassigned. I believe it was just copy-pasting the (your?) fixed-gp node and taking out the PTU transform stuff.

[2015-10-12 16:24] cdondrup opened #179 "Add detector for moving laser beams"
According to my understanding, please correct me if I'm wrong, everything that moves in an indoor office environment or even AAF is a human or operated by a human. Even if it is a bed or a wheelchair, if it is moved by a human, it's better to treat it as a human than treat it as an object. To this end, I'll try to make a simple detector that clusters laser beams according to the jump distance and

[2015-10-15 10:07] lucasb-eyer commented on #156
I managed to get a backtrace by attaching gdb and waiting for the crash. It's actually not crashing but aborting due to glibc's sanity checks for double-free or corruption upon free:

[code]

The backtrace is the following:

[code]

The crash originates from `sensor_msgs::Image`'s destructor freeing the `_data` vector. I checked, it's the RGB image:

[code]

If no-one subscribes to the UBD result

[2015-10-31 10:39] filipetrocadoferreira opened #183 "Upper Body Detection w/ Kinect v2"
Is there any specific configuration to upper body detection work with Kinect v2?

I was able to have this working with depth map from stereo but with an high accurate sensor as Kinect is.

On my point view the two main causes could be:

- Camara Parameters (K matrix)
- Ground Plane estimation (in my case is fixed [0,-1,-0] at 1.5m from the floor .

But after confirming these two causes no better r

[2015-11-02 10:54] cdondrup commented on #183
Sadly, I am currently not able to do this. Maybe @lucasb-eyer has some experience or at least a helpful tip how to achieve this?!

[2015-11-02 16:12] Pandoro commented on #183
I think the best way to debug this is to dig into the code in order to
first visualize the regions of the image that are actually considered based
on the ground plane projection and then the actual reactions based on the
upper body template. I'm not familiar with the details of the code, but I
wouldn't be surprised if certain assumptions were explicitly optimized for
the xtion sensor. As the resol

[2015-11-06 13:10] #175 closed

[2015-11-09 21:11] lucasb-eyer commented on #183
I don't have anything more useful than what @Pandoro said above, sorry. I also don't currently have the time (and incentive) to make it work on Kinect v2.

[2015-12-09 15:17] filipetrocadoferreira opened #184 "I only have detections closer than 1.5 m and beyond 4 meteres. And no detections between these two distances."
I'm using Kinect 2:

and the config:

#=====================================
# Distance Range Accepted Detections
#=====================================
distance_range_accepted_detections = 7 # up to what distance detections are kept. All detections after that distance are rejected

#=====================================
# ROI
#=====================================
inc_width_ratio = -0.25
inc_heig

[2015-12-09 17:06] filipetrocadoferreira commented on #184
In my opinion one of the causes can be:

In Detector::ComputeFreespace:

occ_map(pos_x, pos_z) += z;

Closer objects will have of course an heavy weight on the occupancy map and with the distance, even with small number of points, further objects will have a big weight, but maybe this will cause a gap between some distances as I see in my case.

[2016-02-04 10:02] semeyerz opened #186 "[bayes_people_tracker] memory leak / lockup"
We could observe that bayes_people_tracker slows down the whole system at some point by occupying all of the systems memory.
Unfortunately I can not provide debugging data(rosbag, logs, ...) yet as the system becomes pretty slow in such situations.
There seems to be a correlation between such problems and the number of persons around the robot.
This means more people (>8) increase the chance of ru

[2016-02-04 10:07] cdondrup commented on #186
First of all, I'm sorry I forgot to answer to your email.

We haven't really observed this and our people tracking is basically running 24/7. Do you know which component exactly is causing the leak? I'll try and investigate this and see if I can reproduce it.

Can you tell me the exact configuration of nodes you are running (e.g. I remember you only ran the UBD?!) and also post the configurations

[2016-02-04 10:33] semeyerz commented on #186
Thanks for the fast reply.
Right now we are only using the laser based leg_detector.

The component causing the leak is bayes_people_tracker (observed with htop).

Right now we use the launch file: https://github.com/CentralLabFacilities/tobi_robot/blob/indigo/tobi_bringup/launch/people_tracker_robot.launch

[2016-03-07 15:10] ferdianjovan opened #188 "Upper Body Detector issue"
Hi,

I run the UBD with the current indigo-release, but the UBD does not produce any detection.
It runs fine, but no detection even when a person is in front of the robot.
I refer to https://github.com/strands-project/strands_perception_people/issues/107 for all possible errors, but everything works fine.
Any idea?

[2016-03-07 15:12] cdondrup commented on #188
Is there an image coming out on `/upper_body_detector/image`? Which topics are you subscribing to and what openni version are you using?

[2016-03-07 15:25] lucasb-eyer commented on #188
Do `rosnode info /upper_body_detector[or similar]` and see if any of the subscribed topics is marked "unknown type", if so, you forgot to run something else. (Or something else has the problem, i.e. recursively apply to that.)

We recently had the problem that the PTU got a different device number and thus did not publish anymore, because of that the ground-plane did not publish anymore and becaus

[2016-03-07 16:12] ferdianjovan commented on #188
There is an image coming out on `/upper_body_detector/image`.
I am running vision_logging and realising that no UBD detected.
And for openni, I believe we are still using openni 1.5.4

Did `rosnode info /upper_body_detector` and `rosnode info /ground_plane`, they looked fine to me.

[code]

[2016-03-07 16:18] lucasb-eyer commented on #188
@cdondrup's test is more effective, since it shows an image, it means the UBD's callback is being run, all inputs are there and publish, and time sync works. That's odd; does the depth image itself look reasonable? Have you changed any parameters?

[2016-03-07 16:23] cdondrup commented on #188
If you are still using the old openni wrapper, you have to subscribe to `depth/image_rect_meters` as the other is the wrong format and will not detect anything. The latest version of the ubd subscribes to the correct topic when using the openni2 (which should be default now) but when using the openni wrapper still you must subscribe to above topic.

[2016-03-07 16:41] ferdianjovan commented on #188
No, I have not changed any parameter, I was about to :)
The depth image (depth/image_rect_meters) from rostopic publishes right things (raw).
Ah you are right, that is the different, I am still using the old openni_wrapper.
OK, that works now.
Thanks for the help.

[2016-03-07 16:41] #188 closed

[2016-03-07 16:43] cdondrup commented on #188
No problem. But you should switch to openni2 ;) It's started by default when using the strands_cameras bringup file anyway.

[2016-04-06 10:46] filipetrocadoferreira opened #190 "WheelChair Detection on Jetson?"
Hey,

Does your wheel chair detection (based on a CNN) run on a Jetson TX1/TK1?

[2016-04-06 11:13] lucasb-eyer commented on #190
In principle it should work, as it's based on CUDA and cuDNN.
But we don't have a Jetson available for testing (yet) so we cannot say for
sure, possibly it will need small modifications.
If you try, do let us know about your progress and issues on github over
here: https://github.com/VisualComputingInstitute/DROW

Cheers,
Lucas

[2016-04-08 07:37] adamib opened #191 "cmake error"
Hi,

 I got an error while trying to compile the project :

" CMake Error at CMakeLists.txt:7 (find_package): By not providing "Findcatkin.cmake" in CMAKE_MODULE_PATH this project has asked CMake to find a package configuration file provided by "catkin", but CMake did not find one."

Any suggestion ?

[2016-04-08 08:03] cdondrup commented on #191
Hi,

Your error suggests that there is no catkin installed on your system or that the build process cannot find it. I'm afraid that this is a ROS package and that you will need to install [ROS indigo](http://wiki.ros.org/indigo/Installation/Ubuntu). Afterwards you will have to create a [ROS workspace](http://wiki.ros.org/ROS/Tutorials/InstallingandConfiguringROSEnvironment), clone the project into

[2016-05-11 10:48] filipetrocadoferreira opened #196 "[Wheel Chair Detector] w/ RPLidar - cut_outs[i,:] = cv2.resize(window[None], (npts,1), interpolation=interp)[0] error: /home/followinspiration/opencv-2.4.9/modules/imgproc/src/imgwarp.cpp:1834: error: (-215) ssize.area() > 0 in function resize"
I'm trying to test the detector with RPLidar (with the real resolution (1º) and a virtual (0.5º, with duplicated beams). But i'm having an error in the function generate_cut_outs.

This laser sends 'inf' when does not have info and its max_angle is -3.14 and min_angle : 3.14 (weird right?)

[2016-05-11 11:06] filipetrocadoferreira commented on #196
This seems to solve

`s_np[s_np==np.inf] = 6 #or other big value`

[2016-05-11 11:20] Pandoro commented on #196
We only used SICK S300 with an angular resolution of 0.5º and I think we
cut off everything above 14m. So while 6m could work I'd maybe try
something bigger.

What will definitely not work though, is the max and min angle unless it is
a 360º laser. We use these two to create a laser field of view, which,
given your numbers, would be 2pi = 360º. Considering an angular increment
of 0.5º the detector

[2016-05-11 11:23] filipetrocadoferreira commented on #196
Yes I'm using 360º lidar with 1º resolution. And it has that strange feature of min_angle and max_angle being switched.

I'll create a "virtual" laser with 270º fov and 0.5º. How do you encode your max and min angle?

[2016-05-11 11:56] Pandoro commented on #196
Aah! I didn't notice the flipped sign, that is weird indeed. The range should still be fine, but we never took the absolute value of the range in our code. This I guess suggests that the data is in a reverse order? It could still be valid, but I know that we didn't account for that.

For 270° it should be something like:

[code]

[2016-05-11 13:51] filipetrocadoferreira commented on #196
Ok, doing that the results were not better. So i guess the only possibility is to train the classifier on this laser data.
Here in red - original laser data , green - virtual laser data.

![drow](https://cloud.githubusercontent.com/assets/14791576/15183135/b6bfc7a4-1787-11e6-9358-b998174f2009.png)

[2016-05-11 14:36] Pandoro commented on #196
Hmmm, this is hard for me to judge since I don't know what kind of stuff
the laser actually sees. The height of the laser also makes quite a big
difference. Our laser scanner scans at a height of approximately 37cm. You
might play around with the threshold to reduce false positives. The big
question is, is there actually a wheelchair or a walker in the field of
view of the virtual laser? Apart fro

[2016-05-11 14:39] filipetrocadoferreira commented on #196
Our laser is a bit higher(~50cm) and yes, there is a guy seated on a wheelchair. I guess it also depends on which wheel chair the detector were trained because Health Facilities' wheelchairs are very different from the "usual" ones.

[2016-05-25 13:06] cdondrup opened #197 "Test wheelchair detection at AAF"
@lucasb-eyer @Pandoro we have until the 30/05 to test things on the robot at AAF before we pack up. If something breaks there is no harm to it any more so now is the time to test the wheelchair detector. Please reply here or on gitter if you want to do so, so we can arrange for that.

Might need instructions on how to run stuff ;)

[2016-05-25 14:02] Pandoro opened #198 "fix rosdep keys for wheelchair detector"
deepfried2 is not the correct key, probably theano isn't either.

[2016-05-26 04:29] lucasb-eyer commented on #197
Thanks for the ping, I hope/think @Pandoro is doing it :smile: I unfortunately can't, you probably know why.

[2016-05-26 09:25] cdondrup commented on #197
Yes, we started it Yesterday. He wasn't too impressed with the number of FP but we'll see.

[2016-06-23 03:34] lucasb-eyer commented on #183
Cross-linking to spencer-project/spencer_people_tracking#4 which asked the same thing.

[2016-07-19 09:04] HuangZengPei opened #206 "cmake Error"
When I try to catkin_make the source code in mu catkin_ws , an error happened. It shows like that:
CMake Error at mongodb_store-hydro-devel/mongodb_store/cmake/FindMongoClient.cmake:72 (message):
  MongoClient not found.
Call Stack (most recent call first):
  mongodb_store-hydro-devel/mongodb_store/CMakeLists.txt:9 (find_package)
Can anyone tell me how to solve that? Thanks very much

[2016-07-19 17:22] lucasb-eyer commented on #206
I believe you need to install [mongodb_store](http://wiki.ros.org/mongodb_store).

[2016-07-19 20:09] cdondrup commented on #206
There might also be other dependencies that you need to install. In case you are running ROS indigo on Ubuntu 14.04 64-bit, we offer prebuilt debian packages that can easily be installed following the instructions found here: http://lncn.eu/strands

[2016-07-20 03:20] HuangZengPei commented on #206
Thanks very much.I have solved this problem. @cdondrup

[2016-08-04 16:14] lcluz opened #207 "Change number of frames for visual confirmation"
Hi. I'm trying to put to work the tracker with external cameras, a onboard Asus and a laser. With the Asus I'm using my own rgb detector and then using depth to map to base_link, and publishing has a PoseArray. I've been tuning the parameters (velocity and measurement noises) and tried different fps for the tracker, and could never have a new tracker instance.
I'm thinking that maybe the number of

[2016-08-04 18:36] cdondrup commented on #207
Hi, by default it needs 5 detections in 0.2 seconds which is defined [here](https://github.com/LCAS/bayestracking/blob/dba55e38d59159d6d7a9ef70dd17909e4bdc3084/include/bayes_tracking/multitracker.h#L81). This multitracker is used [here](https://github.com/strands-project/strands_perception_people/blob/indigo-devel/bayes_people_tracker/include/bayes_people_tracker/simple_tracking.h#L174). You could

[2016-08-05 14:50] lcluz commented on #207
I changed the default values and it worked. Thank you very much

[2016-08-05 14:55] cdondrup commented on #207
No problem. I'll close this issue then. If you run into any other problems, just open a new one ;)

[2016-08-05 14:55] #207 closed

[2016-08-26 16:49] lcluz opened #208 "Velocity when robot is moving and person is steady"
Hi again :)
I'm having another problem and this time with the velocities that come from the tracker. What is happening is that when a person is steady and the robot is moving, it assumes that the person is moving, probably because the position on base_link frame changes. since everything is calculated in this frame. Right?
Is this possible? Can you help in any way, saying how to overcome this?

Th

[2016-08-26 23:13] lucasb-eyer commented on #208
Which tracker are you using? `bayes_people_tracker` or `mdl_people_tracker`?

[2016-08-27 14:36] cdondrup commented on #208
Bayes people tracker with his own detector.

The problem is, as you said the `base_link`. The easiest way of overcoming this is to create a map and choose `/map` as the frame of reference. Currently, the ego motion of the robot is not considered using the tracker other than by using a static tf frame. Instead of `/map` you could also try your odometry frame which is stationary (if you do not reset

[2016-08-27 23:01] lcluz commented on #208
Ok, that's what I thought. But I think I read that no matter what the frame is, the calculations are always done on "base_link" frame, am I wrong? Another way i thought could help overcome this problem is subtracting the robot's velocity to the velocity that the tracker is outputting. Does this make sense?

[2016-08-28 00:28] cdondrup commented on #208
The velocity should be based on the difference in position of the human from `t_n` to `t_{n+1}`. So using `/map` or `/odom` should prevent this. I know that I have a hard coded `base_link` in there (shame! :bell: :bell: :bell:) but that is only for the distance between the robot and the human afaik. I am currently at a conference so don't really have the means/time to look into this. From the 5/9,

[2016-08-29 14:19] lcluz commented on #208
What I did was changing the target_frame param to "/map", but it seems that is still applying the filter on base_link. What i did was:
private_node_handle.param("target_frame", target_frame, std::string("/map"));
and change my detections from base_link to map.
should be only this, right?

[2016-08-29 17:39] cdondrup commented on #208
Normally, you don't have to change your detections. If they are in base_link, then they will be transformed to what ever you set in the target_frame by the tracker. If they are in base_link and you just change the frame id to map, then the system assumes they are in map but they are actually in base_link. So make sure that the `framed_id` of your detector message correctly reflects the origin coor

[2016-08-30 08:30] lcluz commented on #208
What I mean changing my detections is transforming them from base_link to map, so everything is already in the right frame_id when entering the tracker.
By changing the target frame to /map I still have the same thing as before. What comes out of the tracker is still on /base_link frame.

[2016-08-30 09:28] lcluz commented on #208
What I'm getting in the topic /people_tracker/people is still on /base_link frame_id, even if i change the target_frame to /map.

header:
  seq: 6810
  stamp:
    secs: 1472549074
    nsecs: 596731901
  frame_id: /base_link
people:
-
  name: c1279c0b-8693-5cc0-abb2-68f62de71548
  position:
    x: 1.04233826326
    y: -0.561836417343
    z: 0.0
  velocity:
    x: -0.103574421128
    y: -0.134073609

[2016-08-30 13:19] cdondrup commented on #208
OK, I'll have a look at that next week.

[2016-08-30 14:16] lcluz commented on #208
Well...I was not changing the target_frame param in the roslaunch. I only changed it in your code, thinking that it was hard coded.
My bad, I'm sorry for bothering you. Thanks for the quick replies. :) you can close this.

Luís

[2016-08-30 15:36] cdondrup commented on #208
Even better. Glad you found it :)
Let me know if anything else is amiss.

[2016-08-30 15:36] #208 closed

[2016-10-07 12:57] cdondrup opened #209 "Add wheel chair detector to tracker"
Needs to go here: https://github.com/strands-project/strands_perception_people/blob/indigo-devel/bayes_people_tracker/config/detectors.yaml

Needs to publish a pose array or use to_pose_array

[2016-10-07 15:34] Pandoro commented on #209
Am I not getting something, or is it there already?

On Oct 7, 2016 2:57 PM, "Christian Dondrup" notifications@github.com
wrote:

[2016-10-08 07:29] cdondrup commented on #209
Oh, It is... didn't see, sorry :( We had that at the demo as well right?

Then it needs to be added to one of the launch files I guess. Preferably this: https://github.com/strands-project/strands_perception_people/blob/indigo-devel/perception_people_launch/launch/people_tracker_robot.launch

[2016-10-17 00:15] sjdrc opened #210 "free(): invalid pointer when running ground_plane_estimated"
I'm using iai_kinect2 as a ros node for the Microsoft Kinect v2 camera.

```roslaunch kinect2_bridge kinect2_bridge.launch publish_tf:=true```

This node publishes a heap of topics, namely
[code]

When I run ```roslaunch ground_plane_estimation ground_plane_estimated.launch camera_namespace:=/kinect2 depth_image:=/sd/image_depth_rect camera_info_rgb:=/sd/camera_info``` and subscribe to /ground_pla

[2016-10-19 09:27] Pandoro commented on #209
- [ ] Add a machine parameter for the wheelchair detector (no default should be left side machine on werner)
- [ ] Add a flag with_wheelchairs (default=false)
- [ ] Change the tmux for the aaf bringup accordingly.

Edit: To avoid confusion I decided to not make another "with_laser_filter" parameter separately for the wheelchair detector.
Edit2: Also I set the with_wheelchair to false by default. W

[2016-11-08 14:39] cdondrup opened #212 "Broken launch file"
Currently, the robot launch file doesn't seem to work when run with `with_wheelchair_detector:=true` and `with_laser_filter:=false`:

[code]

I don't believe that https://github.com/strands-project/strands_perception_people/blob/indigo-devel/perception_people_launch/launch/people_tracker_robot.launch#L152-L158 is correct. This should also be the wheelchair detector. And maybe you need the to pose

[2016-11-10 17:55] #209 closed

[2017-01-02 21:47] #26 closed

[2017-03-16 23:02] tlind commented on #186
I know this issue is over a year old, but I can confirm we had a similar issue when we tried out the Bayes tracker in Freiburg. We also observed a correlation with the number of tracked targets. The issue disappeared after switching from NNJPDA to NN data association.

We were trying to debug it for a while and I believe we observed some sort of combinatorial explosion in the NNJPDA code, but coul

[2017-03-16 23:23] tlind opened #213 "Incompatible licenses in upper-body detector"
As we were dealing with the same issue in [spencer_people_tracking](https://github.com/spencer-project/spencer_people_tracking), I want to briefly document a licensing issue with the upper-body detector:
* `CPoint.cpp/.h` in `upper_body_detector` is licensed under GPL (see file header). Due to the copy-left effect, this would require the entire ROS package to be licensed under GPL.
* `KConnectedCo

[2017-03-18 14:11] lucasb-eyer commented on #213
Good one, thanks for the ping!

[2017-03-23 15:37] creamiracle opened #214 "Can't get the position and can't show marker array."
Hey, I have install the tracker, map_server, openni2, sicks300 laser and mongodb_store. And I have change the namespace of camera from "head_xtion" to "camera" and changed the /ground_plan_fix to /ground_plan(which is the same as the standalone.launch) to make the tracker run. I have made a /ptu/state node to publish to /ground_plan.
The situation now is I can echo topic "camera/depth/camera_info"

[2018-08-15 21:15] yumdiddlyscrumptious opened #219 "Upper Body Detector Detects Once then Stops"
Hello,

I hope this is the right place to ask this question, if not, oops!

I am currently working on getting the upper_body_detector to work in tandem with the leg_detector. For the upper body detector I am using a ZED camera.

I have been able to get up to two detections at a time, in the sense that I have gotten two images to be published on the /upper_body_detector/image topic. Although, for s

[2018-08-15 21:18] yumdiddlyscrumptious commented on #219
Something else that I forgot to add is that the UBD/roi topic does not seem to be publishing when the UBD/image topic publishes.

[2018-08-16 08:18] lucasb-eyer commented on #219
Hi, sorry I will not be of much help as I haven't really dealt with the code for a few years.

First, it is not clear what you mean by "it stops there" do you mean no detections anymore, or the node crashes?

I have the following suggestions:

Does the node's main callback get called regularly? (add a printf to see.)

If not, check the incoming messages, either one that it depends on is not gettin

[2018-08-16 17:31] yumdiddlyscrumptious commented on #219
Hey @lucasb-eyer,

Thanks so much for getting back to me, you're the man!

To clarify by stopping, I just meant that it would stop picking up detections. The node itself was never crashing.

You were correct on the timestamps being out of sync. I was able to get everything to launch on the same computer and it works much better now.

Although it works, I am still getting the same [INFO] message as

[2018-08-20 20:08] lucasb-eyer commented on #219
Awesome! We probably should put that as a FAQ into the readme, as this mistake also happened to us quite frequently :smile:

[2018-08-20 20:08] #219 closed

[2018-08-20 20:11] lucasb-eyer commented on #219
Added a note to the UBD's README.

[2018-12-04 09:53] francescodelduchetto opened #222 "upper_body_detector fills all the RAM in some cases"
We noticed that when the robot camera is directed toward some specific area the `upper_body_detector` node continuously uses more memory until all the RAM is filled and the process crashes.

The solution to this problem was to change https://github.com/strands-project/strands_perception_people/blob/92ee683e0ffaa44b0e70483da5a2e8b579628eff/upper_body_detector/config/upper_body_detector.yaml#L26 and

[2018-12-04 10:07] marc-hanheide commented on #222
cool, open PR?

[2018-12-04 10:21] marc-hanheide commented on #222
Also do we know the side effects of changing those parameters?

[2018-12-04 10:28] scosar commented on #222
I think these parameters can be kept high enough (e.g. 20/-20) to avoid accessing outside the occupancy map. The only drawback is keeping a big occupancy map. For instance, if we set 20/-20, we will have a map of 400x400, which I think is not too big and should not create any high memory usage.

[2018-12-04 10:41] marc-hanheide commented on #222
what are the units here?

[2018-12-04 10:42] scosar commented on #222
It should be in meters

[2018-12-10 16:46] francescodelduchetto commented on #222
Today I incurred in this error
[code]

@scosar May it be related to the previous error, or caused by changing the `freespace` size?

I think the `Cell out of bounds` log comes from here:
https://github.com/strands-project/strands_perception_people/blob/92ee683e0ffaa44b0e70483da5a2e8b579628eff/people_tracker_filter/src/filter.cpp#L117

[2018-12-11 10:04] scosar commented on #222
Could it more about ROS image filters or sync policy stuff? Does it happen all the time?

I am not sure, but it might still be related to (possible) memory leak coming from upper_body_detector.

I did not use the people_tracker_filter. But I guess, it is expected as the upper_body_detector failed.

[2018-12-12 13:17] francescodelduchetto commented on #222
I checked if it was caused by the change in the freespace size, and it is not. Because the error happens also when resetting that to the previous values.

[2019-01-25 11:48] bfalacerda opened #223 "bayes_people_tracker not publishing to /people_tracker/people"
Hi,

I'm witnessing a weird situation where I must to ``rostopic echo  people_tracker/positions`` in  order to have something published to ` /people_tracker/people`. Any idea why this might be? @cdondrup ?

[2019-04-02 10:04] collinlim opened #224 "cmake error"
the following error were encountered when I tried building the visual odometry package.

In file included from /home/ubuntu/visual_odometry/3rd_party/fovis/libfovis/internal_utils.cpp:4:0:
/home/ubuntu/visual_odometry/3rd_party/fovis/libfovis/internal_utils.hpp:8:23: fatal error: emmintrin.h: No such file or directory
compilation terminated.
CMakeFiles/visual_odometry.dir/build.make:86: recipe for

[2019-04-11 13:18] semeyerz commented on #223
It was introduced with PR #220 were the check for trajectory was added and removed the check for people.

[2019-05-22 00:03] ArtlyStyles opened #227 "people tracking with LiDAR only"
I would like to track people but my robot has LiDAR only. How can I change the config file to track people?

[2019-05-29 10:12] cdondrup commented on #227
Hi, you should be able to edit this file: https://github.com/strands-project/strands_perception_people/blob/kinetic-devel/bayes_people_tracker/config/detectors.yaml

Just remove all the detectors from the file that you do not have running. In theory though, if the detector is not present, it doesn't matter much. It should use whatever detector in this config file is publishing and doesn't wait for

[2019-05-29 10:16] #223 closed

[2019-07-25 01:03] duda1202 commented on #227
Hi,

I tried that. But whenever one sensor gets occluded, the tracker stops working properly. I have been using my own detectors but I have the right msg, PoseArray.
Also, if you comment one sensor out, it does not eliminate when launching the file. So if I add 3 sensors and I delete 2 of them. It would still show as if it is detecting 3.

[2020-01-05 12:45] marcuskohtongjie95 opened #229 "rostopic echo /ground_plane returning [nan, nan, nan] for ground plane estimation launch file"
Hi all, I am running the upper_body_detector and ground_plane_estimated in simulation only (gazebo/rviz) and have installed the real_sense_gazebo_plugin (r200 camera).
I remapped the topics of ground_plane_estimation.launch to subscribe the the r200 camera as follow:

`    <arg name="camera_namespace" default="/r200/camera" />
      <arg name="depth_image" default="/depth/image_raw" />
      <arg

[2020-02-13 22:21] FrGe2016 opened #230 "Compile problem with Melodic"
Hi
I have the following error message with catkin_make

add_subdirectory(unit_8/strands_perception_people/bayes_people_tracker)
-- Could NOT find bayes_tracking (missing: bayes_tracking_DIR)
-- Could not find the required component 'bayes_tracking'. The following CMake error indicates that you either need to install the package with the same name or change your environment so that it can be found.

[2020-02-14 13:57] FrGe2016 commented on #230
This one is solved but i have another one

add_subdirectory(unit_8/people/people_tracking_filter)
-- Checking for module 'orocos-bfl'
--   No package 'orocos-bfl' found

But when i look in my system it is there ?
locate orocos-bfl
/opt/ros/melodic/lib/liborocos-bfl.so
/opt/ros/melodic/lib/pkgconfig/orocos-bfl.pc

[2020-03-19 22:06] FooKii commented on #229
hey, im also using gazebo. By running ```people_tracker_standalone.launch``` i can successully have human identified by upper-body-detection (marker seen in rviz). maybe it can help u somehow.
I do have problem when running ```people_tracker_robot.launch``` where i can have result from leg_detector but nothing from upper-body-detector.

[2020-03-25 14:04] marcuskohtongjie95 commented on #229
hi thanks for the reply, i couldn't solve this issue so I changed to the darket_yolo package for human detection instead and its working great for me

[2020-04-11 20:43] FooKii commented on #229
hi, it's me again cause i ran into the same problem.
I guess the reason is that your camera's angle or height make it impossible to see the "ground".
The solution is to switch to fixed_groundplane, but  i'm guessing u then have the problem caused by "PTU" (e.x. i dont have a ptu integrated), this then involve the issue #177 which is still open.

I fixed by modifying fixed_gp.cpp (modified ugly but

[2020-04-12 14:20] marcuskohtongjie95 commented on #229
Hi there!
My camera (RealSense r200) is placed 1 meter above the ground and sees the ground just fine. I also do not have a PTU integrated as well and my robot is moving so i don't think I can apply the quick fix that you mentioned.

[2020-05-26 17:39] Dagu12s opened #234 "upper_body_detector does not subscribe to anything"
Im using the upper_body_detector in a simulated enviroment with a simulated intel realsense d435. The problem is that the upper_body_detector does not subscribe to anything.
Im using the upper_body_detector.launch and the really fixed ground plane.
Any idea?

Thank you very much

[2020-05-27 10:26] cdondrup commented on #234
Hi, to save resources the upper body detector only subscribes to the image topics if another node subscribes to any of the topics advertised by the detector. See https://github.com/strands-project/strands_perception_people/blob/kinetic-devel/upper_body_detector/src/main.cpp#L439-L462

[2020-05-27 15:24] Dagu12s commented on #234
Hi, Thank you very much for the response. I corrected that but it is not doing any detection. I will try to use a different camera configuration but i dont know what else to try. Any idea?

[2020-06-01 09:02] #234 closed

[2020-06-01 09:07] Dagu12s opened #235 "Upper_body_detector does not detect"
Hello, im doing a system using the upper_body_detector in a simulated enviroment and the node is subscribed to the right topics but it does not detect anything. Im using rbkairos with a intel realsense d435 rgbd camera. Any idea what is happening?
Thank you very much

[2020-06-15 16:41] Dagu12s commented on #235
Was a problem with the camera topic, sorry

[2020-06-15 16:41] #235 closed

[2020-06-26 05:51] Alex-Beh commented on #230
@FrGe2016 How you successfully compile the code at the end? For the first bayes_tracking dependencies, where to install the package?

[2020-07-03 14:24] Alex-Beh commented on #222
Hello, I faced some issues when run upper_body_detector. The `process has died` error keep raised up and restart the process.

Below is the errors I saw from the terminal:
[code]

The process die with different errors (as shown above) every time. I tried change `freespace_minX` and `freespace_maxX` but didn't work. May I know anyone have any idea on this?

[2020-07-04 14:04] marc-hanheide commented on #222
@Alex-Beh apologies, this code hasn't been updated in a long while, maybe @lucasb-eyer or @Pandoro can still point you in some direction, but I'm not sure.

[2020-08-17 13:12] 5730289021-NN commented on #230
For that issue, type
`cd ~/catkin_ws/src`
`git clone https://github.com/LCAS/bayestracking`

_Additional command in order to build that package_
`sudo apt install qt4-dev-tools`
`git clone https://github.com/strands-project/strands_msgs`
`sudo apt install ros-melodic-grid-map`
`sudo apt install ros-melodic-mongodb-store`

_Then download_ `https://github.com/strands-project/strands_navigation` and